.color {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 21px;
  height: 18px;
  border-radius: 4px;
  cursor: pointer;

  &:hover {
    input {
      height: 12px;
    }
  }

  input {
    display: flex;
    width: 21px;
    height: 8px;
    background-color: $gray-light;
    border-radius: 4px;
    transition: .2s ease-in-out;
    &:checked {
      height: 18px;
    }
  }
}
