.form-news {
  display: flex;
  flex-direction: column;
  z-index: 1;

  &__input {
    margin-bottom: 30px;
    padding: 14px 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 136.107%;
    color: $light;
    border-bottom: 1px solid $light;
  }

  &__title {
    margin-bottom: 12px;
    font-size: 16px;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    color: $light;
  }
}
