.categories {
  display: flex;
  gap: 20px;
  justify-content: space-between;

  @include r($mobile) {
    padding: 0 24px;
  }

  &__item {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 131px;
    cursor: pointer;

    &:hover {
      .categories__picture {
        border-radius: 100px;
        background: #F4F4F4;
      }
    }

    &.active {
      .categories__picture {
        border-radius: 100px;
        background: #F4F4F4;
      }
    }
  }

  &__picture {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 130px;
    height: 160px;
    overflow: hidden;
    transition: .2s linear;

    @include r($mobile) {
      width: 70px;
      height: 85px;
    }

    img {
      mix-blend-mode: multiply;
      background-color: transparent;

      @include r($mobile) {
        display: block;
        width: auto;
        height: 100%;
      }
    }
  }

  &__title {
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
    color: $gray-light;

    @include r($mobile) {
      font-size: 11px;
      line-height: normal;
      color: $black;
    }
  }
}
