.title {
  font-size: 40px;
  font-weight: 400;
  line-height: 150%;
  text-transform: uppercase;
  color: $dark;
  text-align: center;

  @include r(1529) {
    font-size: 24px;
  }

  &--small {
    font-size: 18px;
    font-weight: 700;
    text-transform: none;
  }

  &--left {
    text-align: left;
  }

  &--bold {
    text-align: left;
    font-size: 40px;
    font-weight: 600;
    text-transform: none;
  }

  &--left {
    text-align: left;
  }

}
