.product-card {
  display: flex;
  flex-direction: column;
  gap: 63px;

  @include r($mobile) {
    gap: 40px;
  }

  &__content {
    display: flex;
    gap: 130px;

    @include r($mobile) {
      padding: 0 24px;
      gap: 24px;
      flex-direction: column;
    }
  }

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
    @include r($mobile) {
      flex-direction: column;
      align-items: flex-start;
      gap: 14px;
      margin-bottom: 14px;
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  &__slider {
    position: relative;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    width: 620px;
    max-height: 600px;
    flex-shrink: 0;

    @include r($mobile) {
      width: 100%;
      max-height: 400px;
    }
  }

  &__title {
    font-size: 32px;
    font-weight: 700;
    line-height: 150%;
    color: $dark;
    @include r($mobile) {
      font-size: 24px;
    }
  }

  &__article {
    text-shadow: 0 4px 9px rgba(31, 39, 83, 0.10);
    font-size: 14px;
    font-weight: 500;
    line-height: 100%;
    letter-spacing: 0.28px;
    color: $gray-light;
  }

  &__text {
    max-width: 490px;
    margin-bottom: 37px;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    color: $gray;
  }

  &__head {
    color: $dark;
    font-size: 16px;
    font-weight: 700;
    line-height: 150%;

    &--big {
      margin-bottom: 14px;
      font-size: 18px;
    }

    span {
      color: $gray;
      font-weight: 300;
    }
  }

  &__price {
    margin-bottom: 18px;
  }

  &__top {
    display: flex;
    align-items: center;
    gap: 213px;
  }

  &__block {
    display: flex;
    flex-direction: column;
    margin-bottom: 37px;
    gap: 12px;

    @include r($mobile) {
      margin-bottom: 24px;
    }

    &--custom {
      display: grid;
      grid-template-columns: 1fr 1fr;

      .size-table-button {
        grid-column: 2/ 3;
        grid-row: 1 / 3;
      }

      @include r($mobile) {
        display: flex;
        flex-direction: column;
      }
    }
  }

  &__currency {
    font-size: 12px;
    font-weight: 400;
    line-height: 150%;
    color: $dark;

    @include r($mobile) {
      margin-bottom: 8px;
    }
  }

  &__size {
    justify-content: flex-start;
  }

  &__colors {
    max-width: 250px;
  }

  &__toolbox {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-flow: dense;
    max-width: 490px;
    gap: 14px;

    @include r($mobile) {
      display: flex;
    }

    .button {
      grid-column: span 1;

      @include r($mobile) {
        width: 100%;
      }

      &:nth-child(1) {
        grid-column: span 2;
      }
    }
  }

  &__detail {
    display: grid;
    grid-auto-flow: dense;
    grid-template-columns: repeat(2, 1fr);
    max-width: 1015px;
    gap: 30px;

    @include r($mobile) {
      display: flex;
      flex-direction: column;
      padding: 0 24px;
      gap: 24px;
    }

    .product-card__text {
      margin: 0;
      max-width: 100%;
    }
  }

  &__column {
    display: flex;
    flex-direction: column;
    gap: 43px;
  }

  &__item {
    max-width: 490px;
  }
}
