.contact-us {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;

  &--center {
    justify-content: center;
  }

  @include r($mobile) {
    flex-direction: column;
  }

  &__form {
    align-self: center;
    max-width: 630px;
    width: 100%;
    @include r($mobile) {
      order: -1;
    }
  }

  &__picture {
    pointer-events: none;
    &:first-child {
      @include r($mobile) {
        width: 327px;
        height: 476px;
        margin-right: auto;
        margin-top: 100px;
        z-index: 1;
        pointer-events: none;
      }
    }
    &:last-child {
      @include r($mobile) {
        position: absolute;
        top: 59%;
        right: 0;
        width: 225px;
        height: 503px;
        transform: translateY(-50%);
        pointer-events: none;
      }
    }
  }
}
