.card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 230px;

  &:hover {
    .card__properties {
      opacity: 1;
      visibility: visible;
      height: auto;
    }
    .card__info {
      opacity: 0;
      visibility: hidden;
      height: 0;
    }
  }
  @include r(1529) {
    &:hover {
      .card__properties {
        display: none;
      }
      .card__info {
        opacity: 1;
        visibility: visible;
        height: auto;
      }
    }
  }

  &__picture {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 28px;
    width: 230px;
    height: 283px;
    margin-bottom: 15px;
    border: 1px solid $gray-light;
    border-radius: 15px;
    background-color: $light;
  }

  &__price {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  &__title {
    margin-bottom: 10px;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
    color: $black;
  }

  &__current-price {
    text-shadow: 0 4px 9px rgba(31, 39, 83, 0.10);
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 100%;
    letter-spacing: 0.28px;
    color: $dark;
  }

  &__previous-price {
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 100%;
    letter-spacing: 0.28px;
    text-shadow: 0 4px 9px rgba(31, 39, 83, 0.10);
    color: #C8C8C8;
  }

  &__properties {
    display: flex;
    flex-direction: column;
    gap: 14px;
    width: 100%;
    opacity: 0;
    visibility: hidden;
    height: 0;

    @include r(1529) {
      display: none;
    }
  }

  &__button {
    display: flex;
    align-items: center;
    gap: 7px;
    width: 100%;
    padding: 11px 22px;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    color: $purple-light;
    border-radius: 50px;
    background-color: $light-button;
    cursor: pointer;

    &:hover {
      background-color: $purple-light;
      color: $light;
      svg {
        fill: $light;
      }
    }

    &:active {
      background-color: #4F2C7F;
    }

    svg {
      display: flex;
      width: 24px;
      height: 24px;
      fill: $purple-light;
    }
  }
}
