<!DOCTYPE html>
<html lang="ru">

<head>
    <%= htmlWebpackPlugin.options.head %>
    <title><%= htmlWebpackPlugin.options.title %></title>
</head>

<body class="body">
<%= htmlWebpackPlugin.options.sectionHeader %>
<main class="main">
    <section class="section mob-hidden mb-40">
        <div class="container">
            <div class="breadcrumbs">
                <ul class="breadcrumbs__list">
                    <li class="breadcrumbs__item">
                        <a href="#" class="breadcrumbs__link">Главная</a>
                    </li>
                    <li class="breadcrumbs__item">
                        <span class="breadcrumbs__link breadcrumbs__link--current">Каталог</span>
                    </li>
                </ul>
            </div>
        </div>
    </section>
    <section class="section pb-125 pbm-80">
        <div class="container">
            <div class="cart">
                <div class="cart__empty" data-empty>
                    <h2 class="title">В корзине нет товаров</h2>
                    <p class="subtitle">Для выбора вещей перейдите в каталог</p>
                    <button class="button">Перейти в каталог</button>
                </div>
                <div class="cart__body">
                    <div class="cart__top">
                        <div class="cart__head">
                            <h1 class="title">Корзина</h1>
                            <div class="cart__count"><span data-cart-position>0</span> товара</div>
                            <button class="cart__select" data-open-checkbox>Выбрать</button>
                        </div>
                        <div class="cart__control">
                            <label class="cart__button" data-cart-select-all>
                                <input type="checkbox" class="check">
                                <span>Выбрать всё</span>
                            </label>
                            <button class="cart__button" data-basket-removeAll>
                                <svg class="cart__icon">
                                    <use xlink:href="./assets/sprite/sprite.svg#icon-trash"></use>
                                </svg>
                                Удалить (<span data-cart-remove-position>0</span>)
                            </button>
                        </div>
                    </div>
                    <div class="cart__content">
                        <div class="product-cart" data-cart>
                            <input type="checkbox" class="product-cart__check check" data-cart-check>
                            <div class="product-cart__item">
                                <picture class="product-cart__picture">
                                    <img
                                        src="https://s3-alpha-sig.figma.com/img/7668/4fe8/73c3bffe83e96fdba3b8a3be5596ebe6?Expires=1698624000&Signature=CvRJUte~Jm5Po9W9hLR826rxeOvMLgO~uDjgJqcANj8UmKbSrWbfxi3Wh4lzUVNejWG-qeFWG6Un8iP46ok2CRzkNQTuVNkx3buzyVa3opD~pMHJI3LjpUSiUhOz5nnuPCvoE1tBYUlWOJaW8VpQMW2vnuMt9NgR4JJEkd9P5pTAGCC8IvyojjyfTQCwM78mUaBbY-7bM5ezDt7kt7dYK9xpl9xVPmnAbe06rzHqCHnTQWdEFpBndgYyM~hlj2x7~b9N7FRgLemq41~8E5zXUNNRFvEGinqSyzK0PjBr4sjpxiG-HuX0FA2RWQcYNmxxZiqY5qOqlDk5IuIJxBpMwA__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4"
                                        alt="">
                                </picture>
                                <div class="product-cart__info">
                                    <h2 class="product-cart__title">Шерстяное пальто</h2>
                                    <p class="product-cart__text">M (46/48)</p>
                                    <p class="product-cart__text">Черный</p>
                                    <div class="product-cart__counter counter" data-counter>
                                        <button class="counter__button counter__button--minus" data-counter-minus>-
                                        </button>
                                        <input type="number" class="counter__input" value="1" data-counter-input>
                                        <button class="counter__button counter__button--plus" data-counter-plus>+
                                        </button>
                                    </div>
                                    <div class="product-cart__available">Последний</div>
                                    <div class="product-price desktop-hidden">
                                        <div class="product-price__old">25 000 ₽</div>
                                        <div class="product-price__current"><span data-cart-price>15 000</span> ₽</div>
                                    </div>
                                </div>
                                <div class="product-cart__total">
                                    <div class="product-price mob-hidden">
                                        <div class="product-price__old">25 000 ₽</div>
                                        <div class="product-price__current"><span data-cart-price>15 000</span> ₽</div>
                                    </div>
                                    <div class="product-cart__toolbox">
                                        <button class="cart__button add-favourite add-favourite--static">
                                            <svg class="add-favourite__icon">
                                                <use xlink:href="./assets/sprite/sprite.svg#icon-heart-fill"></use>
                                            </svg>
                                            <span>В избранное</span>
                                        </button>
                                        <button class="cart__button" data-cart-remove>
                                            <svg class="cart__icon">
                                                <use xlink:href="./assets/sprite/sprite.svg#icon-trash"></use>
                                            </svg>
                                            <span>Удалить</span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="product-cart" data-cart>
                            <input type="checkbox" class="product-cart__check check" data-cart-check>
                            <div class="product-cart__item">
                                <picture class="product-cart__picture">
                                    <img
                                        src="https://s3-alpha-sig.figma.com/img/7668/4fe8/73c3bffe83e96fdba3b8a3be5596ebe6?Expires=1698624000&Signature=CvRJUte~Jm5Po9W9hLR826rxeOvMLgO~uDjgJqcANj8UmKbSrWbfxi3Wh4lzUVNejWG-qeFWG6Un8iP46ok2CRzkNQTuVNkx3buzyVa3opD~pMHJI3LjpUSiUhOz5nnuPCvoE1tBYUlWOJaW8VpQMW2vnuMt9NgR4JJEkd9P5pTAGCC8IvyojjyfTQCwM78mUaBbY-7bM5ezDt7kt7dYK9xpl9xVPmnAbe06rzHqCHnTQWdEFpBndgYyM~hlj2x7~b9N7FRgLemq41~8E5zXUNNRFvEGinqSyzK0PjBr4sjpxiG-HuX0FA2RWQcYNmxxZiqY5qOqlDk5IuIJxBpMwA__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4"
                                        alt="">
                                </picture>
                                <div class="product-cart__info">
                                    <h2 class="product-cart__title">Шерстяное пальто</h2>
                                    <p class="product-cart__text">M (46/48)</p>
                                    <p class="product-cart__text">Черный</p>
                                    <div class="product-cart__counter counter" data-counter>
                                        <button class="counter__button counter__button--minus" data-counter-minus>-
                                        </button>
                                        <input type="number" class="counter__input" value="1" data-counter-input>
                                        <button class="counter__button counter__button--plus" data-counter-plus>+
                                        </button>
                                    </div>
                                    <div class="product-cart__available">Последний</div>
                                    <div class="product-price desktop-hidden">
                                        <div class="product-price__old">25 000 ₽</div>
                                        <div class="product-price__current"><span data-cart-price>15 000</span> ₽</div>
                                    </div>
                                </div>
                                <div class="product-cart__total">
                                    <div class="product-price mob-hidden">
                                        <div class="product-price__old">25 000 ₽</div>
                                        <div class="product-price__current"><span data-cart-price>15 000</span> ₽</div>
                                    </div>
                                    <div class="product-cart__toolbox">
                                        <button class="cart__button add-favourite add-favourite--static">
                                            <svg class="add-favourite__icon">
                                                <use xlink:href="./assets/sprite/sprite.svg#icon-heart-fill"></use>
                                            </svg>
                                            <span>В избранное</span>
                                        </button>
                                        <button class="cart__button" data-cart-remove>
                                            <svg class="cart__icon">
                                                <use xlink:href="./assets/sprite/sprite.svg#icon-trash"></use>
                                            </svg>
                                            <span>Удалить</span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <button class="button desktop-hidden hidden" data-basket-remove-mobile data-basket-removeAll>
                            Удалить выбранное (<span data-cart-remove-position>0</span>)
                        </button>
                    </div>
                </div>
                <div class="total">
                    <div class="total__wrapper">
                        <div class="total__body">
                            <h2 class="total__title">Сумма заказа</h2>
                            <div class="total__info">
                                <div class="total__el">
                                    <p class="total__text"><span data-cart-count>2</span> товара на сумму</p>
                                    <p class="total__price"><span data-cart-total>10 647</span> ₽</p>
                                </div>
                                <div class="total__el">
                                    <p class="total__text">Скидка</p>
                                    <p class="total__price total__price--red">- <span data-cart-discount>5 647</span> ₽
                                    </p>
                                </div>
                            </div>
                            <div class="total__total">
                                <h3 class="total__text total__text--big">Итого</h3>
                                <p class="total__price total__price--big"><span data-basket-total>5 000</span> ₽</p>
                            </div>
                            <div class="code">
                                <input type="text" placeholder="Ввести промокод">
                            </div>
                            <button class="button button--orange button--medium button--small">Оформить заказ</button>
                        </div>
                        <div class="total__bonus">2000 ₽ бонусных после первого заказа</div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section pb-60">
        <div class="container">
            <div class="head">
                <h2 class="title">добавьте к образу</h2>
            </div>
            <div class="slider slider--product" data-slider="slider">
                <div class="slider__wrapper">
                    <div class="slider__item">
                        <article class="card">
                            <div class="card__picture">
                                <div class="label label--small label--orange">
                                    <svg class="label__icon">
                                        <use xlink:href="./assets/sprite/sprite.svg#icon-persent"></use>
                                    </svg>
                                </div>
                                <img src="./assets/images/image%2032.png" alt="">
                                <button class="add-favourite">
                                    <svg class="add-favourite__icon">
                                        <use xlink:href="./assets/sprite/sprite.svg#icon-heart-fill"></use>
                                    </svg>
                                </button>
                            </div>
                            <div class="card__info">
                                <a href="#" class="card__title">Лонгслив из смесового хлопка</a>
                                <div class="card__price">
                                    <p class="card__current-price">6 800 ₽</p>
                                    <p class="card__previous-price">10 800 ₽</p>
                                </div>
                                <div class="card__properties">
                                    <div class="card-color">
                                        <label class="card-color__item">
                                            <input type="radio" style="background-color: #272727" name="color">
                                            <span></span>
                                        </label>
                                        <label class="card-color__item">
                                            <input type="radio" style="background-color: #543427" name="color">
                                            <span></span>
                                        </label>
                                        <label class="card-color__item">
                                            <input type="radio" style="background-color: #D8C392" name="color">
                                            <span></span>
                                        </label>
                                    </div>
                                    <div class="size">
                                        <label class="size__item size__item--disabled">
                                            <input class="checkbox" disabled type="radio" name="size">
                                            <span>XS</span>
                                        </label>
                                        <label class="size__item">
                                            <input class="checkbox" type="radio" name="size">
                                            <span>S</span>
                                        </label>
                                        <label class="size__item">
                                            <input class="checkbox" type="radio" name="size">
                                            <span>M</span>
                                        </label>
                                        <label class="size__item">
                                            <input class="checkbox" type="radio" name="size">
                                            <span>L</span>
                                        </label>
                                        <label class="size__item">
                                            <input class="checkbox" type="radio" name="size">
                                            <span>XL</span>
                                        </label>
                                    </div>
                                    <button class="card__button">
                                        Добавить в корзину
                                        <svg>
                                            <use xlink:href="./assets/sprite/sprite.svg#icon-cart"></use>
                                        </svg>
                                    </button>
                                </div>
                            </div>
                        </article>
                    </div>
                    <div class="slider__item">
                        <article class="card">
                            <div class="card__picture">
                                <div class="label label--small label--orange">
                                    <svg class="label__icon">
                                        <use xlink:href="./assets/sprite/sprite.svg#icon-persent"></use>
                                    </svg>
                                </div>
                                <img src="./assets/images/image%2032.png" alt="">
                                <button class="add-favourite">
                                    <svg class="add-favourite__icon">
                                        <use xlink:href="./assets/sprite/sprite.svg#icon-heart-fill"></use>
                                    </svg>
                                </button>
                            </div>
                            <div class="card__info">
                                <a href="#" class="card__title">Лонгслив из смесового хлопка</a>
                                <div class="card__price">
                                    <p class="card__current-price">6 800 ₽</p>
                                    <p class="card__previous-price">10 800 ₽</p>
                                </div>
                                <div class="card__properties">
                                    <div class="card-color">
                                        <label class="card-color__item">
                                            <input type="radio" style="background-color: #272727" name="color">
                                            <span></span>
                                        </label>
                                        <label class="card-color__item">
                                            <input type="radio" style="background-color: #543427" name="color">
                                            <span></span>
                                        </label>
                                        <label class="card-color__item">
                                            <input type="radio" style="background-color: #D8C392" name="color">
                                            <span></span>
                                        </label>
                                    </div>
                                    <div class="size">
                                        <label class="size__item size__item--disabled">
                                            <input class="checkbox" disabled type="radio" name="size">
                                            <span>XS</span>
                                        </label>
                                        <label class="size__item">
                                            <input class="checkbox" type="radio" name="size">
                                            <span>S</span>
                                        </label>
                                        <label class="size__item">
                                            <input class="checkbox" type="radio" name="size">
                                            <span>M</span>
                                        </label>
                                        <label class="size__item">
                                            <input class="checkbox" type="radio" name="size">
                                            <span>L</span>
                                        </label>
                                        <label class="size__item">
                                            <input class="checkbox" type="radio" name="size">
                                            <span>XL</span>
                                        </label>
                                    </div>
                                    <button class="card__button">
                                        Добавить в корзину
                                        <svg>
                                            <use xlink:href="./assets/sprite/sprite.svg#icon-cart"></use>
                                        </svg>
                                    </button>
                                </div>
                            </div>
                        </article>
                    </div>
                    <div class="slider__item">
                        <article class="card">
                            <div class="card__picture">
                                <div class="label label--small label--orange">
                                    <svg class="label__icon">
                                        <use xlink:href="./assets/sprite/sprite.svg#icon-persent"></use>
                                    </svg>
                                </div>
                                <img src="./assets/images/image%2032.png" alt="">
                                <button class="add-favourite">
                                    <svg class="add-favourite__icon">
                                        <use xlink:href="./assets/sprite/sprite.svg#icon-heart-fill"></use>
                                    </svg>
                                </button>
                            </div>
                            <div class="card__info">
                                <a href="#" class="card__title">Лонгслив из смесового хлопка</a>
                                <div class="card__price">
                                    <p class="card__current-price">6 800 ₽</p>
                                    <p class="card__previous-price">10 800 ₽</p>
                                </div>
                                <div class="card__properties">
                                    <div class="card-color">
                                        <label class="card-color__item">
                                            <input type="radio" style="background-color: #272727" name="color">
                                            <span></span>
                                        </label>
                                        <label class="card-color__item">
                                            <input type="radio" style="background-color: #543427" name="color">
                                            <span></span>
                                        </label>
                                        <label class="card-color__item">
                                            <input type="radio" style="background-color: #D8C392" name="color">
                                            <span></span>
                                        </label>
                                    </div>
                                    <div class="size">
                                        <label class="size__item size__item--disabled">
                                            <input class="checkbox" disabled type="radio" name="size">
                                            <span>XS</span>
                                        </label>
                                        <label class="size__item">
                                            <input class="checkbox" type="radio" name="size">
                                            <span>S</span>
                                        </label>
                                        <label class="size__item">
                                            <input class="checkbox" type="radio" name="size">
                                            <span>M</span>
                                        </label>
                                        <label class="size__item">
                                            <input class="checkbox" type="radio" name="size">
                                            <span>L</span>
                                        </label>
                                        <label class="size__item">
                                            <input class="checkbox" type="radio" name="size">
                                            <span>XL</span>
                                        </label>
                                    </div>
                                    <button class="card__button">
                                        Добавить в корзину
                                        <svg>
                                            <use xlink:href="./assets/sprite/sprite.svg#icon-cart"></use>
                                        </svg>
                                    </button>
                                </div>
                            </div>
                        </article>
                    </div>
                    <div class="slider__item">
                        <article class="card">
                            <div class="card__picture">
                                <div class="label label--small label--orange">
                                    <svg class="label__icon">
                                        <use xlink:href="./assets/sprite/sprite.svg#icon-persent"></use>
                                    </svg>
                                </div>
                                <img src="./assets/images/image%2032.png" alt="">
                                <button class="add-favourite">
                                    <svg class="add-favourite__icon">
                                        <use xlink:href="./assets/sprite/sprite.svg#icon-heart-fill"></use>
                                    </svg>
                                </button>
                            </div>
                            <div class="card__info">
                                <a href="#" class="card__title">Лонгслив из смесового хлопка</a>
                                <div class="card__price">
                                    <p class="card__current-price">6 800 ₽</p>
                                    <p class="card__previous-price">10 800 ₽</p>
                                </div>
                                <div class="card__properties">
                                    <div class="card-color">
                                        <label class="card-color__item">
                                            <input type="radio" style="background-color: #272727" name="color">
                                            <span></span>
                                        </label>
                                        <label class="card-color__item">
                                            <input type="radio" style="background-color: #543427" name="color">
                                            <span></span>
                                        </label>
                                        <label class="card-color__item">
                                            <input type="radio" style="background-color: #D8C392" name="color">
                                            <span></span>
                                        </label>
                                    </div>
                                    <div class="size">
                                        <label class="size__item size__item--disabled">
                                            <input class="checkbox" disabled type="radio" name="size">
                                            <span>XS</span>
                                        </label>
                                        <label class="size__item">
                                            <input class="checkbox" type="radio" name="size">
                                            <span>S</span>
                                        </label>
                                        <label class="size__item">
                                            <input class="checkbox" type="radio" name="size">
                                            <span>M</span>
                                        </label>
                                        <label class="size__item">
                                            <input class="checkbox" type="radio" name="size">
                                            <span>L</span>
                                        </label>
                                        <label class="size__item">
                                            <input class="checkbox" type="radio" name="size">
                                            <span>XL</span>
                                        </label>
                                    </div>
                                    <button class="card__button">
                                        Добавить в корзину
                                        <svg>
                                            <use xlink:href="./assets/sprite/sprite.svg#icon-cart"></use>
                                        </svg>
                                    </button>
                                </div>
                            </div>
                        </article>
                    </div>
                    <div class="slider__item">
                        <article class="card">
                            <div class="card__picture">
                                <div class="label label--small label--orange">
                                    <svg class="label__icon">
                                        <use xlink:href="./assets/sprite/sprite.svg#icon-persent"></use>
                                    </svg>
                                </div>
                                <img src="./assets/images/image%2032.png" alt="">
                                <button class="add-favourite">
                                    <svg class="add-favourite__icon">
                                        <use xlink:href="./assets/sprite/sprite.svg#icon-heart-fill"></use>
                                    </svg>
                                </button>
                            </div>
                            <div class="card__info">
                                <a href="#" class="card__title">Лонгслив из смесового хлопка</a>
                                <div class="card__price">
                                    <p class="card__current-price">6 800 ₽</p>
                                    <p class="card__previous-price">10 800 ₽</p>
                                </div>
                                <div class="card__properties">
                                    <div class="card-color">
                                        <label class="card-color__item">
                                            <input type="radio" style="background-color: #272727" name="color">
                                            <span></span>
                                        </label>
                                        <label class="card-color__item">
                                            <input type="radio" style="background-color: #543427" name="color">
                                            <span></span>
                                        </label>
                                        <label class="card-color__item">
                                            <input type="radio" style="background-color: #D8C392" name="color">
                                            <span></span>
                                        </label>
                                    </div>
                                    <div class="size">
                                        <label class="size__item size__item--disabled">
                                            <input class="checkbox" disabled type="radio" name="size">
                                            <span>XS</span>
                                        </label>
                                        <label class="size__item">
                                            <input class="checkbox" type="radio" name="size">
                                            <span>S</span>
                                        </label>
                                        <label class="size__item">
                                            <input class="checkbox" type="radio" name="size">
                                            <span>M</span>
                                        </label>
                                        <label class="size__item">
                                            <input class="checkbox" type="radio" name="size">
                                            <span>L</span>
                                        </label>
                                        <label class="size__item">
                                            <input class="checkbox" type="radio" name="size">
                                            <span>XL</span>
                                        </label>
                                    </div>
                                    <button class="card__button">
                                        Добавить в корзину
                                        <svg>
                                            <use xlink:href="./assets/sprite/sprite.svg#icon-cart"></use>
                                        </svg>
                                    </button>
                                </div>
                            </div>
                        </article>
                    </div>
                    <div class="slider__item">
                        <article class="card">
                            <div class="card__picture">
                                <div class="label label--small label--orange">
                                    <svg class="label__icon">
                                        <use xlink:href="./assets/sprite/sprite.svg#icon-persent"></use>
                                    </svg>
                                </div>
                                <img src="./assets/images/image%2032.png" alt="">
                                <button class="add-favourite">
                                    <svg class="add-favourite__icon">
                                        <use xlink:href="./assets/sprite/sprite.svg#icon-heart-fill"></use>
                                    </svg>
                                </button>
                            </div>
                            <div class="card__info">
                                <a href="#" class="card__title">Лонгслив из смесового хлопка</a>
                                <div class="card__price">
                                    <p class="card__current-price">6 800 ₽</p>
                                    <p class="card__previous-price">10 800 ₽</p>
                                </div>
                                <div class="card__properties">
                                    <div class="card-color">
                                        <label class="card-color__item">
                                            <input type="radio" style="background-color: #272727" name="color">
                                            <span></span>
                                        </label>
                                        <label class="card-color__item">
                                            <input type="radio" style="background-color: #543427" name="color">
                                            <span></span>
                                        </label>
                                        <label class="card-color__item">
                                            <input type="radio" style="background-color: #D8C392" name="color">
                                            <span></span>
                                        </label>
                                    </div>
                                    <div class="size">
                                        <label class="size__item size__item--disabled">
                                            <input class="checkbox" disabled type="radio" name="size">
                                            <span>XS</span>
                                        </label>
                                        <label class="size__item">
                                            <input class="checkbox" type="radio" name="size">
                                            <span>S</span>
                                        </label>
                                        <label class="size__item">
                                            <input class="checkbox" type="radio" name="size">
                                            <span>M</span>
                                        </label>
                                        <label class="size__item">
                                            <input class="checkbox" type="radio" name="size">
                                            <span>L</span>
                                        </label>
                                        <label class="size__item">
                                            <input class="checkbox" type="radio" name="size">
                                            <span>XL</span>
                                        </label>
                                    </div>
                                    <button class="card__button">
                                        Добавить в корзину
                                        <svg>
                                            <use xlink:href="./assets/sprite/sprite.svg#icon-cart"></use>
                                        </svg>
                                    </button>
                                </div>
                            </div>
                        </article>
                    </div>
                    <div class="slider__item">
                        <article class="card">
                            <div class="card__picture">
                                <div class="label label--small label--orange">
                                    <svg class="label__icon">
                                        <use xlink:href="./assets/sprite/sprite.svg#icon-persent"></use>
                                    </svg>
                                </div>
                                <img src="./assets/images/image%2032.png" alt="">
                                <button class="add-favourite">
                                    <svg class="add-favourite__icon">
                                        <use xlink:href="./assets/sprite/sprite.svg#icon-heart-fill"></use>
                                    </svg>
                                </button>
                            </div>
                            <div class="card__info">
                                <a href="#" class="card__title">Лонгслив из смесового хлопка</a>
                                <div class="card__price">
                                    <p class="card__current-price">6 800 ₽</p>
                                    <p class="card__previous-price">10 800 ₽</p>
                                </div>
                                <div class="card__properties">
                                    <div class="card-color">
                                        <label class="card-color__item">
                                            <input type="radio" style="background-color: #272727" name="color">
                                            <span></span>
                                        </label>
                                        <label class="card-color__item">
                                            <input type="radio" style="background-color: #543427" name="color">
                                            <span></span>
                                        </label>
                                        <label class="card-color__item">
                                            <input type="radio" style="background-color: #D8C392" name="color">
                                            <span></span>
                                        </label>
                                    </div>
                                    <div class="size">
                                        <label class="size__item size__item--disabled">
                                            <input class="checkbox" disabled type="radio" name="size">
                                            <span>XS</span>
                                        </label>
                                        <label class="size__item">
                                            <input class="checkbox" type="radio" name="size">
                                            <span>S</span>
                                        </label>
                                        <label class="size__item">
                                            <input class="checkbox" type="radio" name="size">
                                            <span>M</span>
                                        </label>
                                        <label class="size__item">
                                            <input class="checkbox" type="radio" name="size">
                                            <span>L</span>
                                        </label>
                                        <label class="size__item">
                                            <input class="checkbox" type="radio" name="size">
                                            <span>XL</span>
                                        </label>
                                    </div>
                                    <button class="card__button">
                                        Добавить в корзину
                                        <svg>
                                            <use xlink:href="./assets/sprite/sprite.svg#icon-cart"></use>
                                        </svg>
                                    </button>
                                </div>
                            </div>
                        </article>
                    </div>
                    <div class="slider__item">
                        <article class="card">
                            <div class="card__picture">
                                <div class="label label--small label--orange">
                                    <svg class="label__icon">
                                        <use xlink:href="./assets/sprite/sprite.svg#icon-persent"></use>
                                    </svg>
                                </div>
                                <img src="./assets/images/image%2032.png" alt="">
                                <button class="add-favourite">
                                    <svg class="add-favourite__icon">
                                        <use xlink:href="./assets/sprite/sprite.svg#icon-heart-fill"></use>
                                    </svg>
                                </button>
                            </div>
                            <div class="card__info">
                                <a href="#" class="card__title">Лонгслив из смесового хлопка</a>
                                <div class="card__price">
                                    <p class="card__current-price">6 800 ₽</p>
                                    <p class="card__previous-price">10 800 ₽</p>
                                </div>
                                <div class="card__properties">
                                    <div class="card-color">
                                        <label class="card-color__item">
                                            <input type="radio" style="background-color: #272727" name="color">
                                            <span></span>
                                        </label>
                                        <label class="card-color__item">
                                            <input type="radio" style="background-color: #543427" name="color">
                                            <span></span>
                                        </label>
                                        <label class="card-color__item">
                                            <input type="radio" style="background-color: #D8C392" name="color">
                                            <span></span>
                                        </label>
                                    </div>
                                    <div class="size">
                                        <label class="size__item size__item--disabled">
                                            <input class="checkbox" disabled type="radio" name="size">
                                            <span>XS</span>
                                        </label>
                                        <label class="size__item">
                                            <input class="checkbox" type="radio" name="size">
                                            <span>S</span>
                                        </label>
                                        <label class="size__item">
                                            <input class="checkbox" type="radio" name="size">
                                            <span>M</span>
                                        </label>
                                        <label class="size__item">
                                            <input class="checkbox" type="radio" name="size">
                                            <span>L</span>
                                        </label>
                                        <label class="size__item">
                                            <input class="checkbox" type="radio" name="size">
                                            <span>XL</span>
                                        </label>
                                    </div>
                                    <button class="card__button">
                                        Добавить в корзину
                                        <svg>
                                            <use xlink:href="./assets/sprite/sprite.svg#icon-cart"></use>
                                        </svg>
                                    </button>
                                </div>
                            </div>
                        </article>
                    </div>
                </div>
                <div class="slider__controls">
                    <button class="slider__button slider__button--prev">
                        <svg>
                            <use xlink:href="./assets/sprite/sprite.svg#icon-arrow"></use>
                        </svg>
                    </button>
                    <button class="slider__button slider__button--next">
                        <svg>
                            <use xlink:href="./assets/sprite/sprite.svg#icon-arrow"></use>
                        </svg>
                    </button>
                </div>
            </div>
        </div>
    </section>
</main>

<%= htmlWebpackPlugin.options.sectionFooter %>
<%= htmlWebpackPlugin.options.temp %>
<%= htmlWebpackPlugin.options.hidden %>
</body>
</html>
