<!DOCTYPE html>
<html lang="ru">

<head>
    <%= htmlWebpackPlugin.options.head %>
    <title><%= htmlWebpackPlugin.options.title %></title>
</head>

<body class="body">
<%= htmlWebpackPlugin.options.sectionHeader %>
<main class="main">
    <section class="section mob-hidden mb-60">
        <div class="container">
            <div class="breadcrumbs">
                <ul class="breadcrumbs__list">
                    <li class="breadcrumbs__item">
                        <a href="#" class="breadcrumbs__link">Главная</a>
                    </li>
                    <li class="breadcrumbs__item">
                        <span class="breadcrumbs__link breadcrumbs__link--current">Каталог</span>
                    </li>
                </ul>
            </div>
        </div>
    </section>
    <section class="section pb-135">
        <div class="container">
            <div class="static">
                <h1 class="title title--bold mb-40">Доставка и оплата</h1>
                <div class="static__top">
                    <strong>Способы получения заказа:</strong>
                    <p>Самовывоз из одного из наших бутиков</p>
                    <p>Курьерская доставка с примеркой по г. Москва, Санкт-Петербург и Краснодар</p>
                    <p>Транспортная компания СДЭК или Почта России по всей России, а так же DHL в любую точку мира.</p>
                </div>
                <div class="static__block">
                    <div class="static__list">
                        <h3 class="static__title">
                            <svg>
                                <use xlink:href="./assets/sprite/sprite.svg#icon-pin"></use>
                            </svg>
                            Самовывоз
                        </h3>
                        <p>
                            Самовывоз - это оплаченный заказ, который можно забрать из бутика на следующий после оплаты
                            день
                            при наличии его в городе покупателя. Изделия, заказанные для пермещения в бутик между
                            городами
                            Москва, Санкт-Петербург или Краснодар, доставляются только по 100% оплате.
                        </p>
                        <p>
                            При оформлении заказа можно оформить самовывоз из бутика Москвы, Санкт-Петербурга или
                            Краснодара. Максимальное количество изделий для самовывоза - 7 изделий.
                        </p>
                        <p>
                            После подтверждения изделия для заказа откладываются ровно на сутки. При истечении срока
                            бронь
                            снимается.
                        </p>
                    </div>
                    <div class="static__list">
                        <h3 class="static__title">
                            <svg>
                                <use xlink:href="./assets/sprite/sprite.svg#icon-home"></use>
                            </svg>
                            Курьерская доставка по Москве, Санкт-Петербургу и Краснодару
                        </h3>
                        <p>
                            Доставка производится штатной курьерской службой компании по адресу, указанному при
                            оформлении
                            заказа. Стоимость стандартной доставки:
                        </p>
                        <p>
                            Москва - 400руб.<br>
                            до 5 км от МКАД 600руб.<br>
                            до 10 км от МКАД 1100руб.<br>
                            до 15 км от МКАД 1700руб.<br>
                            При покупке на сумму от 9000 руб.-стоимость доставки уменьшается на 50%
                        </p>
                        <p>
                            Тариф доставки по Санкт-Петербургу - 400 руб.<br>
                            в пределах КАД + 35 руб. за каждый км от КАДа.<br>
                            Мурино, Кудрово, Парголово - 500 руб.
                        </p>
                        <p>
                            Тариф доставки по Краснодару - 400 руб.
                        </p>
                    </div>
                    <div class="static__section">
                        <p>
                            Уважаемые гости!Обращаем внимание: на примерку до 7 изделий предоставляется 20-25 минут.
                            Ожидание
                            свыше 30 минут оплачивается дополнительно в размере 350 руб.
                        </p>
                        <p>
                            Доставка оформленная день в день оплачивается по двойному тарифу. Стоимость доставки по Москве,
                            по
                            Санкт-Петербургу и по Краснодару 800 руб.
                        </p>
                        <p>
                            При покупкe изделий от 9 000 руб., стоимость доставки уменьшается на 50%.
                            При отсутствие покупок после примерки, стоимость услуг доставки оплачивается покупателем.
                        </p>
                        <p>
                            Курьерская доставка/доставка с примеркой осуществляется 7 дней в неделю в выбранный временной
                            интервал: с 12:00 - 15:00, 15:00 - 18:00, 18:00 - 21:00.
                            При выборе времени до 12:00 и после 21:00, а также при доставке свыше 7 вещей - стоимость
                            доставки
                            800 руб.Курьер свяжется с вами за час до его визита.
                        </p>
                        <p>
                            *Бесплатная доставка при выигрыше на сайте в Колесе фортуны осуществляется в пределах г. Москва
                            внутри МКАД. А также Почтой России при отправке в города России.
                        </p>
                    </div>
                    <div class="static__list">
                        <h3 class="static__title">
                            <svg>
                                <use xlink:href="./assets/sprite/sprite.svg#icon-home"></use>
                            </svg>
                            Доставка по России
                        </h3>
                        <p>
                            Срок формирования и отправки заказа 2-3 рабочих дня после оплаты. Стоимость и сроки доставки
                            рассчитываются индивидуально для каждого города, с тарифами и сроками доставки можно
                            ознакомиться при оформлении заказа или уточнить у наших менеджеров, либо рассчитать
                            самостоятельно на нашем сайте при оформлении заказа.
                        </p>
                        <ol>
                            <li>
                                Транспортная компанией СДЕК (до двери или до пункта самовывоза) во все города России от
                                2 до 10 рабочих дней.
                            </li>
                            <li>
                                Доставка Почтой России БЕСПЛАТНО при заказе от 9000 руб. до любого удобного вам
                                отделения.
                            </li>
                        </ol>
                        <p>
                            В период распродажи бесплатная доставка не действует.
                        </p>
                    </div>
                </div>
                <div class="static__block">
                    <h2 class="static__title static__title--big">
                        <svg>
                            <use xlink:href="./assets/sprite/sprite.svg#icon-wallet"></use>
                        </svg>
                        Оплата
                    </h2>
                    <p>
                        Покупки можно оплатить при помощи наличного или безналичного расчёта, в том числе пластиковыми
                        картами онлайн (при оформлении заказа).
                    </p>
                    <ul>
                        <li>
                            Оплата курьеру наличными (только для городов: Москва, Санкт-Петербург и Краснодар)
                        </li>
                        <li>Для оплаты заказа наличными курьеру укажите способ оплаты «Оплата при получении». Все
                            финансовые документы курьер вручит вам вместе с заказом.
                        </li>
                        <li>Оплата онлайн при оформлении заказа</li>
                        <li>К оплате принимаются карты платёжных систем Visa, MasterCard и Мир.</li>
                        <li>Чтобы оплатить заказ пластиковой картой онлайн, выберите соответствующий пункт. Вам будет
                            предложено проверить введённые вами личные данные, адрес доставки и выбранные товары, а
                            затем подтвердить их, нажав кнопку «Оформить заказ». Откроется страница, на которой
                            необходимо будет ввести данные карты, проверить их и нажать кнопку «Оплатить».
                        </li>
                        <li>Оплата подарочной картой Fresh Dress или Сертификатом</li>
                        <li>Если вы хотите оплатить весь заказ или его часть Подарочной картой или Сертификатом,
                            предупредите об этом оператора при подтверждении заказа, а в магазине обратитесь к менеджеру
                            на кассе. Если сумма покупки больше номинала Подарочной карты, недостающую часть можно
                            доплатить наличными или банковской картой.
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
</main>

<%= htmlWebpackPlugin.options.sectionFooter %>
<%= htmlWebpackPlugin.options.temp %>
<%= htmlWebpackPlugin.options.hidden %>
</body>
</html>
