<!DOCTYPE html>
<html lang="ru">

<head>
    <%= htmlWebpackPlugin.options.head %>
    <title><%= htmlWebpackPlugin.options.title %></title>
</head>

<body class="body">
<%= htmlWebpackPlugin.options.sectionHeader %>
<main class="main">
    <section class="section mob-hidden mb-60">
        <div class="container">
            <div class="breadcrumbs">
                <ul class="breadcrumbs__list">
                    <li class="breadcrumbs__item">
                        <a href="#" class="breadcrumbs__link">Главная</a>
                    </li>
                    <li class="breadcrumbs__item">
                        <span class="breadcrumbs__link breadcrumbs__link--current">Каталог</span>
                    </li>
                </ul>
            </div>
        </div>
    </section>
    <section class="section pb-135">
        <div class="container">
            <div class="static">
                <h1 class="title title--big mb-40">Гарантия</h1>
                <div class="static__top">
                    <b>Как определяется срок действия гарантияя на одежду</b>
                    <p>Для одежды, не являющейся сезонной, срок гарантии начинает исчисляться со дня покупки либо, если
                        одежда приобреталась дистанционно, со дня доставки.</p>
                    <p>Для сезонной одежды гарантийный срок исчисляется немного иначе. Если эта одежда была куплена не
                        во время сезона, то гарантийный срок начет исчисляться со дня наступления сезона, для которого
                        эта одежда предназначена.</p>
                    <p>Если сезонная одежда была приобретена непосредственно в сезон, то гарантийный срок будет
                        исчисляться со дня покупки или доставки.</p>
                    <p>Под сезонными товарами большинство понимают именно летнюю и зимнюю одежду, забывая о прочих.</p>
                    <p>В случае если реализуемый товар имеет явные недостатки, и продавец перед совершением сделки
                        предупредил покупателя о наличии этих недостатков, товар не может быть возвращен либо
                        обменен.</p>
                </div>
                <div class="static__block">
                    <div class="static__section">
                        <b>
                            Однако гарантия на одежду будет действительна только в том случае, если покупатель соблюдает
                            рекомендации производителя по эксплуатации и уходу:
                        </b>
                        <ul>
                            <li>
                                четко соблюдал требования, изложенные на бирке или этикетке;
                            </li>
                            <li>
                                не подвергал одежду длительному воздействию влаги, своевременно просушивал;
                            </li>
                            <li>
                                ухаживал за одеждой — регулярно стирал с соблюдением температурного режима, а в случае
                                запрета стирки использовал другие методы очистки.
                            </li>
                        </ul>
                        <p>
                            Определяя, является ли товар сезонным, следует исходить из информации, имеющейся об этом
                            товаре, учитывать конкретные технические характеристики и рекомендации по использованию
                            товара.
                        </p>
                    </div>
                </div>
                <div class="static__block">
                    <div class="static__section">
                        <b>
                            Сервисное обслуживание
                        </b>
                        <ul>
                            <li>
                                В течение 60 дней со дня покупки клиент имеет право на сервисное обслуживание по
                                гарантии бренда.
                            </li>
                            <li>
                                Если в течение действия гарантийного срока на товар покупатель обнаружил в товаре
                                существенные недостатки или дефект, он должен обратиться к продавцу с письменной
                                претензией. Претензия должна содержать дату покупки, наименование товара и описание
                                выявленных дефектов. К претензии должна быть приложена копия документа, подтверждающего
                                покупку.
                            </li>
                        </ul>
                    </div>
                    <div class="static__section">
                        <b>В претензии может быть указано одно из следующих требований:</b>
                        <ul class="mb-15">
                            <li>
                                бесплатный ремонт передаваемого продавцу товара;
                            </li>
                            <li>
                                обмен купленного товара на аналогичный (при наличии такого товара);
                            </li>
                            <li>
                                возврат товара и получение уплаченных за него суммы.
                            </li>
                        </ul>
                        <p>
                            Претензия и товар передаются продавцу лично или по Почте России.
                        </p>
                        <p>
                            Срок гарантии на сезонный товар начинает исчисляться с момента наступления сезона, для
                            которого товар предназначен. Конкретная дата начала каждого сезона определяется отдельно для
                            субъектов РФ.
                        </p>
                        <p>
                            Если в результате оценки наступления гарантийного случая окажется, что проблемы с изделием
                            возникли не по вине производителя, а произошли из-за неправильного ношения или хранения
                            товара, покупатель должен будет полностью возместить расходы продавцу на проведение
                            экспертизы.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>

<%= htmlWebpackPlugin.options.sectionFooter %>
<%= htmlWebpackPlugin.options.temp %>
<%= htmlWebpackPlugin.options.hidden %>
</body>
</html>
