<!DOCTYPE html>
<html lang="ru">

<head>
    <%= htmlWebpackPlugin.options.head %>
    <title><%= htmlWebpackPlugin.options.title %></title>
</head>

<body class="body">
<%= htmlWebpackPlugin.options.sectionHeader %>
<main class="main">
    <section class="section pt-80 ptm-40 pb-150 pbm-100">
        <div class="container">
            <div class="auth">
                <h1 class="auth__title">Вход</h1>
                <form action="#" class="auth__form">
                    <label class="auth__item">
                        <input class="auth__input" type="email" placeholder="Введите E-mail">
                    </label>
                    <label class="auth__item">
                        <input class="auth__input" type="password" placeholder="Пароль">
                    </label>
                    <div class="auth__toolbox">
                        <a href="#">Регистрация</a>
                        <span>/</span>
                        <a href="#">Забыли пароль?</a>
                    </div>
                    <button class="auth__button button" type="submit">Войти</button>
                </form>
            </div>
        </div>
    </section>
</main>

<%= htmlWebpackPlugin.options.sectionFooter %>
<%= htmlWebpackPlugin.options.temp %>
<%= htmlWebpackPlugin.options.hidden %>
</body>
</html>
