<!DOCTYPE html>
<html lang="ru">

<head>
    <%= htmlWebpackPlugin.options.head %>
    <title><%= htmlWebpackPlugin.options.title %></title>
</head>

<body class="body">
<%= htmlWebpackPlugin.options.sectionHeader %>
<main class="main">
    <section class="section mob-hidden mb-60">
        <div class="container">
            <div class="breadcrumbs">
                <ul class="breadcrumbs__list">
                    <li class="breadcrumbs__item">
                        <a href="#" class="breadcrumbs__link">Главная</a>
                    </li>
                    <li class="breadcrumbs__item">
                        <span class="breadcrumbs__link breadcrumbs__link--current">Каталог</span>
                    </li>
                </ul>
            </div>
        </div>
    </section>
    <section class="section pb-150 pbm-80">
        <div class="container">
            <div class="order">
                <div class="order__data">
                    <h1 class="title title--left mb-30">Оформление заказа</h1>
                    <form class="order__form">
                        <fieldset class="order__wrapper">
                            <h2 class="order__title">Населенный пункт</h2>
                            <label class="order__item validate">
                                <input data-validate type="text" placeholder="Город" required minlength="5">
                                <span class="validate__valid hidden">
                                    <svg>
                                        <use xlink:href="./assets/sprite/sprite.svg#icon-check"></use>
                                    </svg>
                                </span>
                                <span class="validate__invalid hidden">
                                    <span>Город введён некорректно</span>
                                </span>
                            </label>
                            <label class="order__item validate">
                                <input data-validate type="text" placeholder="Улица, номер дома" required minlength="5">
                                <span class="validate__valid hidden">
                                    <svg>
                                        <use xlink:href="./assets/sprite/sprite.svg#icon-check"></use>
                                    </svg>
                                </span>
                                <span class="validate__invalid hidden">
                                    <span>Вы не указали номер дома. Чтобы доставить ваш заказ, нам необходимо получить корректный адрес доставки</span>
                                </span>
                            </label>
                            <label class="order__item validate">
                                <input data-validate type="text" placeholder="Подъезд, этаж, квартира" required
                                       minlength="5">
                                <span class="validate__valid hidden">
                                    <svg>
                                        <use xlink:href="./assets/sprite/sprite.svg#icon-check"></use>
                                    </svg>
                                </span>
                                <span class="validate__invalid hidden">
                                    <span>Подъезд, этаж, квартира заполнены некорректно</span>
                                </span>
                            </label>
                            <label class="order__item validate">
                                <input data-validate type="text" placeholder="Индекс" required minlength="5">
                                <span class="validate__valid hidden">
                                    <svg>
                                        <use xlink:href="./assets/sprite/sprite.svg#icon-check"></use>
                                    </svg>
                                </span>
                                <span class="validate__invalid hidden">
                                    <span>Индекс заполнен некорректно</span>
                                </span>
                            </label>
                        </fieldset>
                        <fieldset class="order__wrapper">
                            <h2 class="order__title">Кто заберет заказ?</h2>
                            <label class="order__item validate">
                                <input data-validate type="text" placeholder="Имя Фамилия" required minlength="9">
                                <span class="validate__valid hidden">
                                    <svg>
                                        <use xlink:href="./assets/sprite/sprite.svg#icon-check"></use>
                                    </svg>
                                </span>
                                <span class="validate__invalid hidden">
                                    <span>Имя и Фамилия заполнены некорректно</span>
                                </span>
                            </label>
                            <label class="order__item validate">
                                <input data-validate type="tel" placeholder="Номер телефона"
                                       pattern="\+7 \(\d{3}\) \d{3}-\d{2}-\d{2}" required inputmode="text">
                                <span class="validate__valid hidden">
                                    <svg>
                                        <use xlink:href="./assets/sprite/sprite.svg#icon-check"></use>
                                    </svg>
                                </span>
                                <span class="validate__invalid hidden">
                                    <span>Телефон введен неверно!</span>
                                </span>
                            </label>
                        </fieldset>
                        <fieldset class="order__wrapper">
                            <h2 class="order__title">Способ доставки</h2>
                            <div class="delivery">
                                <label class="delivery__item active">
                                    <span class="delivery__title">
                                        <input class="input-button" type="radio" name="DELIVERY_TYPE" value="SDEK"
                                               checked>
                                        Доставка СДЭК
                                    </span>
                                    <span class="delivery__text">
                                        Срок доставки: от 4 дней<br>
                                        Стоимость доставки: от 986 р
                                    </span>
                                </label>
                                <label class="delivery__item">
                                    <span class="delivery__title">
                                        <input class="input-button" type="radio" name="DELIVERY_TYPE" value="Kurier">
                                        Доставка курьером
                                    </span>
                                    <span class="delivery__text">
                                        Срок доставки: с примеркой от 5 дней<br>
                                        Стоимость доставки: от 986 р
                                    </span>
                                </label>
                                <label class="delivery__item">
                                    <span class="delivery__title">
                                        <input class="input-button" type="radio" name="DELIVERY_TYPE"
                                               value="PochtaRossii">
                                        Доставка Почта России
                                    </span>
                                    <span class="delivery__text">
                                        Срок доставки: от 6 дней<br>
                                        Стоимость доставки: от 691,19 р
                                    </span>
                                </label>
                            </div>
                        </fieldset>
                        <fieldset class="order__wrapper">
                            <h2 class="order__title">Способ оплаты</h2>
                            <label class="order__position">
                                <input class="input-button" type="radio" checked name="PAYMENT_TYPE" value="ukassa">
                                <span>Оплата картой через Юкассу</span>
                            </label>
                            <label class="order__position">
                                <input class="input-button" type="radio" name="PAYMENT_TYPE" value="prodamus">
                                <span>Prodamus</span>
                            </label>
                            <label class="order__position">
                                <input class="input-button" type="radio" name="PAYMENT_TYPE" value="tinkoff">
                                <span>Долями от Тинькофф</span>
                            </label>
                        </fieldset>
                        <fieldset class="order__wrapper">
                            <h2 class="order__title">Условия доставки</h2>
                            <div class="order__block">
                                <h3 class="order__head">Без примерки</h3>
                                <p class="order__text">
                                    Без возможности отказаться от части товаров. Доставка бесплатная. В случае полного
                                    отказа - стоимость доставки 200 руб. Оплата наличными при получении или онлайн
                                    предоплата.
                                </p>
                            </div>
                            <div class="order__block">
                                <h3 class="order__head">Дата доставки</h3>
                                <p class="order__text">Курьер позвонит перед доставкой.</p>
                            </div>
                            <div class="order__block">
                                <h3 class="order__head">29 сентября - 1 октября.</h3>
                            </div>
                        </fieldset>
                    </form>
                </div>
                <div class="total total--static">
                    <div class="total__wrapper">
                        <div class="total__body">
                            <h2 class="total__title">Ваш заказ</h2>
                            <div class="total__info">
                                <div class="total__products">
                                    <article class="card card--small">
                                        <div class="card__picture">
                                            <img src="./assets/images/image%2032.png" alt="">
                                        </div>
                                    </article>
                                    <article class="card card--small">
                                        <div class="card__picture">
                                            <img src="./assets/images/image%2032.png" alt="">
                                        </div>
                                    </article>
                                    <article class="card card--small">
                                        <div class="card__picture">
                                            <img src="./assets/images/image%2032.png" alt="">
                                        </div>
                                    </article>
                                    <article class="card card--small">
                                        <div class="card__picture">
                                            <img src="./assets/images/image%2032.png" alt="">
                                        </div>
                                    </article>
                                    <article class="card card--small">
                                        <div class="card__picture">
                                            <img src="./assets/images/image%2032.png" alt="">
                                        </div>
                                    </article>
                                    <article class="card card--small">
                                        <div class="card__picture">
                                            <img src="./assets/images/image%2032.png" alt="">
                                        </div>
                                    </article>
                                </div>
                                <div class="total__el">
                                    <p class="total__text"><span data-cart-count>2</span> товара на сумму</p>
                                    <p class="total__price"><span data-cart-total>10 647</span> ₽</p>
                                </div>
                                <div class="total__el">
                                    <p class="total__text">Скидка</p>
                                    <p class="total__price total__price--red">- <span data-cart-discount>5 647</span> ₽
                                    </p>
                                </div>
                            </div>
                            <div class="total__total">
                                <h3 class="total__text total__text--big">Итого</h3>
                                <p class="total__price total__price--big"><span data-basket-total>5 000</span> ₽</p>
                            </div>
                            <div class="code">
                                <input type="text" placeholder="Ввести промокод">
                            </div>
                            <button class="button button--orange">Оформить заказ</button>
                        </div>
                        <div class="total__bonus">2000 ₽ бонусных после первого заказа</div>
                        <div class="bonuses">
                            <h2 class="bonuses__title">Потратить бонусы</h2>
                            <p class="bonuses__text">На данный момент у вас нет бонусов для списания</p>
                            <label class="bonuses__toolbox">
                                <span>Списать:</span>
                                <input type="number" placeholder="0" max="100" min="0">
                                <input type="checkbox" class="bonuses__check" name="BONUSES">
                                <button class="bonuses__toggle" data-toggle></button>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>

<%= htmlWebpackPlugin.options.sectionFooter %>
<%= htmlWebpackPlugin.options.temp %>
<%= htmlWebpackPlugin.options.hidden %>
</body>
</html>
