<!DOCTYPE html>
<html lang="ru">

<head>
    <%= htmlWebpackPlugin.options.head %>
    <title><%= htmlWebpackPlugin.options.title %></title>
</head>

<body class="body">
<%= htmlWebpackPlugin.options.sectionHeader %>
<main class="main">
    <section class="section mob-hidden mb-40">
        <div class="container">
            <div class="breadcrumbs">
                <ul class="breadcrumbs__list">
                    <li class="breadcrumbs__item">
                        <a href="#" class="breadcrumbs__link">Главная</a>
                    </li>
                    <li class="breadcrumbs__item">
                        <span class="breadcrumbs__link breadcrumbs__link--current">Каталог</span>
                    </li>
                </ul>
            </div>
        </div>
    </section>
    <section class="section pb-100">
        <div class="container">
            <div class="product-card">
                <div class="product-card__content">
                    <div class="product-card__slider">
                        <div class="slider slider--thumbs slider--thumbs-pictures mob-hidden" data-slider="thumbs">
                            <div class="slider__wrapper">
                                <div class="slider__item">
                                    <picture class="product-picture">
                                        <img
                                            src="https://s3-alpha-sig.figma.com/img/c35a/2697/2dc292dc1cb37a163eed5631211d8c3a?Expires=1698624000&Signature=PPmqzf~xSY-nqgDOlouzGKGkeF4Cd4UVS9xksCl3JqyIiO8doTv0X6lsaLNKqO2HkZUHlh7hjL4Qm70hKUAVvG-Gmsc61XHrze3RGRMBKmDz4bU5rOonI7M3zVWIVRy2HuotXWFK4xfxd0Usv42cnONw04H4~7Xon7DPcZny9TnAnnY~3QQy-95ko3Ru7SPNbSj4BjmES0zKEj13ZCzjjWmxmTZGAwbV5jAr-u97oyo5iOj2G2rgoBJU~QRov3uMqCAfnZmuo7agSj9XjH6FjEf4hYgS4nbPawuDulvy-agyey-wvJ4iE~waTDUxBT~NN13lC0wuE26fGs4RcXoozQ__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4"
                                            alt="">
                                    </picture>
                                </div>
                                <div class="slider__item">
                                    <picture class="product-picture">
                                        <img
                                            src="https://s3-alpha-sig.figma.com/img/872c/45b2/523269dcd39adbcb62db5236ac2cef9e?Expires=1698624000&Signature=SttlnLMejNVukWqrDV78CvJhHgGuay13g0x~G6Y-bI8-1PzK2bAwMJMo9Jm0gy7dttqxrOq05EhQy8S5lMYxWEXElr5YIhrW~qInCvYn4fglpxgntE9bniYdQWPshlGWJzW8lPfDnvvDKEYz--GWtknaHBUL~5hYPpfPZI51sylO71D-OKkdPVZlyaQGuJMtb5HTqPI6Gr9DawVLrPSuUt2m8CwYLgkMyHdgpK0jAB7aGP1UWXXpbjv2Z~6YPcvj82mgAGzYFT5z6Zu1AZr21eF-Aa1jvytSGLEtOyvCLAtNG61zv8FJ1hYBGSEzNd-DHmv8UhhM9RGRl5z2fTezfg__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4"
                                            alt="">
                                    </picture>
                                </div>
                                <div class="slider__item">
                                    <picture class="product-picture">
                                        <img
                                            src="https://s3-alpha-sig.figma.com/img/c35a/2697/2dc292dc1cb37a163eed5631211d8c3a?Expires=1698624000&Signature=PPmqzf~xSY-nqgDOlouzGKGkeF4Cd4UVS9xksCl3JqyIiO8doTv0X6lsaLNKqO2HkZUHlh7hjL4Qm70hKUAVvG-Gmsc61XHrze3RGRMBKmDz4bU5rOonI7M3zVWIVRy2HuotXWFK4xfxd0Usv42cnONw04H4~7Xon7DPcZny9TnAnnY~3QQy-95ko3Ru7SPNbSj4BjmES0zKEj13ZCzjjWmxmTZGAwbV5jAr-u97oyo5iOj2G2rgoBJU~QRov3uMqCAfnZmuo7agSj9XjH6FjEf4hYgS4nbPawuDulvy-agyey-wvJ4iE~waTDUxBT~NN13lC0wuE26fGs4RcXoozQ__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4"
                                            alt="">
                                    </picture>
                                </div>
                                <div class="slider__item">
                                    <picture class="product-picture">
                                        <img
                                            src="https://s3-alpha-sig.figma.com/img/c35a/2697/2dc292dc1cb37a163eed5631211d8c3a?Expires=1698624000&Signature=PPmqzf~xSY-nqgDOlouzGKGkeF4Cd4UVS9xksCl3JqyIiO8doTv0X6lsaLNKqO2HkZUHlh7hjL4Qm70hKUAVvG-Gmsc61XHrze3RGRMBKmDz4bU5rOonI7M3zVWIVRy2HuotXWFK4xfxd0Usv42cnONw04H4~7Xon7DPcZny9TnAnnY~3QQy-95ko3Ru7SPNbSj4BjmES0zKEj13ZCzjjWmxmTZGAwbV5jAr-u97oyo5iOj2G2rgoBJU~QRov3uMqCAfnZmuo7agSj9XjH6FjEf4hYgS4nbPawuDulvy-agyey-wvJ4iE~waTDUxBT~NN13lC0wuE26fGs4RcXoozQ__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4"
                                            alt="">
                                    </picture>
                                </div>
                                <div class="slider__item">
                                    <picture class="product-picture">
                                        <img
                                            src="https://s3-alpha-sig.figma.com/img/c35a/2697/2dc292dc1cb37a163eed5631211d8c3a?Expires=1698624000&Signature=PPmqzf~xSY-nqgDOlouzGKGkeF4Cd4UVS9xksCl3JqyIiO8doTv0X6lsaLNKqO2HkZUHlh7hjL4Qm70hKUAVvG-Gmsc61XHrze3RGRMBKmDz4bU5rOonI7M3zVWIVRy2HuotXWFK4xfxd0Usv42cnONw04H4~7Xon7DPcZny9TnAnnY~3QQy-95ko3Ru7SPNbSj4BjmES0zKEj13ZCzjjWmxmTZGAwbV5jAr-u97oyo5iOj2G2rgoBJU~QRov3uMqCAfnZmuo7agSj9XjH6FjEf4hYgS4nbPawuDulvy-agyey-wvJ4iE~waTDUxBT~NN13lC0wuE26fGs4RcXoozQ__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4"
                                            alt="">
                                    </picture>
                                </div>
                            </div>
                            <div class="slider__button slider__button--next">
                                <svg>
                                    <use xlink:href="./assets/sprite/sprite.svg#icon-arrow"></use>
                                </svg>
                            </div>
                        </div>
                        <div class="slider slider--picture" data-slider="picture">
                            <div class="slider__wrapper">
                                <div class="slider__item">
                                    <picture class="product-picture">
                                        <img
                                            src="https://s3-alpha-sig.figma.com/img/c35a/2697/2dc292dc1cb37a163eed5631211d8c3a?Expires=1698624000&Signature=PPmqzf~xSY-nqgDOlouzGKGkeF4Cd4UVS9xksCl3JqyIiO8doTv0X6lsaLNKqO2HkZUHlh7hjL4Qm70hKUAVvG-Gmsc61XHrze3RGRMBKmDz4bU5rOonI7M3zVWIVRy2HuotXWFK4xfxd0Usv42cnONw04H4~7Xon7DPcZny9TnAnnY~3QQy-95ko3Ru7SPNbSj4BjmES0zKEj13ZCzjjWmxmTZGAwbV5jAr-u97oyo5iOj2G2rgoBJU~QRov3uMqCAfnZmuo7agSj9XjH6FjEf4hYgS4nbPawuDulvy-agyey-wvJ4iE~waTDUxBT~NN13lC0wuE26fGs4RcXoozQ__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4"
                                            alt="">
                                    </picture>
                                </div>
                                <div class="slider__item">
                                    <picture class="product-picture">
                                        <img
                                            src="https://s3-alpha-sig.figma.com/img/872c/45b2/523269dcd39adbcb62db5236ac2cef9e?Expires=1698624000&Signature=SttlnLMejNVukWqrDV78CvJhHgGuay13g0x~G6Y-bI8-1PzK2bAwMJMo9Jm0gy7dttqxrOq05EhQy8S5lMYxWEXElr5YIhrW~qInCvYn4fglpxgntE9bniYdQWPshlGWJzW8lPfDnvvDKEYz--GWtknaHBUL~5hYPpfPZI51sylO71D-OKkdPVZlyaQGuJMtb5HTqPI6Gr9DawVLrPSuUt2m8CwYLgkMyHdgpK0jAB7aGP1UWXXpbjv2Z~6YPcvj82mgAGzYFT5z6Zu1AZr21eF-Aa1jvytSGLEtOyvCLAtNG61zv8FJ1hYBGSEzNd-DHmv8UhhM9RGRl5z2fTezfg__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4"
                                            alt="">
                                    </picture>
                                </div>
                                <div class="slider__item">
                                    <picture class="product-picture">
                                        <img
                                            src="https://s3-alpha-sig.figma.com/img/c35a/2697/2dc292dc1cb37a163eed5631211d8c3a?Expires=1698624000&Signature=PPmqzf~xSY-nqgDOlouzGKGkeF4Cd4UVS9xksCl3JqyIiO8doTv0X6lsaLNKqO2HkZUHlh7hjL4Qm70hKUAVvG-Gmsc61XHrze3RGRMBKmDz4bU5rOonI7M3zVWIVRy2HuotXWFK4xfxd0Usv42cnONw04H4~7Xon7DPcZny9TnAnnY~3QQy-95ko3Ru7SPNbSj4BjmES0zKEj13ZCzjjWmxmTZGAwbV5jAr-u97oyo5iOj2G2rgoBJU~QRov3uMqCAfnZmuo7agSj9XjH6FjEf4hYgS4nbPawuDulvy-agyey-wvJ4iE~waTDUxBT~NN13lC0wuE26fGs4RcXoozQ__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4"
                                            alt="">
                                    </picture>
                                </div>
                                <div class="slider__item">
                                    <picture class="product-picture">
                                        <img
                                            src="https://s3-alpha-sig.figma.com/img/c35a/2697/2dc292dc1cb37a163eed5631211d8c3a?Expires=1698624000&Signature=PPmqzf~xSY-nqgDOlouzGKGkeF4Cd4UVS9xksCl3JqyIiO8doTv0X6lsaLNKqO2HkZUHlh7hjL4Qm70hKUAVvG-Gmsc61XHrze3RGRMBKmDz4bU5rOonI7M3zVWIVRy2HuotXWFK4xfxd0Usv42cnONw04H4~7Xon7DPcZny9TnAnnY~3QQy-95ko3Ru7SPNbSj4BjmES0zKEj13ZCzjjWmxmTZGAwbV5jAr-u97oyo5iOj2G2rgoBJU~QRov3uMqCAfnZmuo7agSj9XjH6FjEf4hYgS4nbPawuDulvy-agyey-wvJ4iE~waTDUxBT~NN13lC0wuE26fGs4RcXoozQ__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4"
                                            alt="">
                                    </picture>
                                </div>
                                <div class="slider__item">
                                    <picture class="product-picture">
                                        <img
                                            src="https://s3-alpha-sig.figma.com/img/c35a/2697/2dc292dc1cb37a163eed5631211d8c3a?Expires=1698624000&Signature=PPmqzf~xSY-nqgDOlouzGKGkeF4Cd4UVS9xksCl3JqyIiO8doTv0X6lsaLNKqO2HkZUHlh7hjL4Qm70hKUAVvG-Gmsc61XHrze3RGRMBKmDz4bU5rOonI7M3zVWIVRy2HuotXWFK4xfxd0Usv42cnONw04H4~7Xon7DPcZny9TnAnnY~3QQy-95ko3Ru7SPNbSj4BjmES0zKEj13ZCzjjWmxmTZGAwbV5jAr-u97oyo5iOj2G2rgoBJU~QRov3uMqCAfnZmuo7agSj9XjH6FjEf4hYgS4nbPawuDulvy-agyey-wvJ4iE~waTDUxBT~NN13lC0wuE26fGs4RcXoozQ__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4"
                                            alt="">
                                    </picture>
                                </div>
                            </div>
                            <div class="slider__pagination"></div>
                        </div>
                    </div>
                    <div class="product-card__info">
                        <div class="product-card__header">
                            <h1 class="product-card__title">Шерстяное пальто</h1>
                            <p class="product-card__article">арт. 2304353</p>
                        </div>
                        <div class="product-card__price price">
                            <p class="price__text price__text--current">15 000 ₽</p>
                            <p class="price__text">25 000 ₽</p>
                        </div>
                        <p class="product-card__text mob-hidden">
                            Экошуба с элегантным воротником и аккуратными боковыми карманами в бежевом оттенке. Шуба
                            выполнена из мягкого искусственного меха. Он не пропускает влагу, держит форму, не
                            скатывается. используется утеплитель Термофинн. Выдерживает до -25 градусов.
                        </p>
                        <div class="product-card__block">
                            <h2 class="product-card__head">Цвет: <span>Бежевый</span></h2>
                            <div class="product-card__colors colors">
                                <label class="color active">
                                    <input type="checkbox" style="background-color: #333333" name="color" value="1">
                                </label>
                                <label class="color">
                                    <input type="checkbox" style="background-color: #828282" name="color" value="1">
                                </label>
                                <label class="color">
                                    <input type="checkbox" style="background-color: #E0E0E0" name="color" value="1">
                                </label>
                            </div>
                        </div>
                        <div class="product-card__block product-card__block--custom">
                            <h2 class="product-card__head">Выберите размер</h2>
                            <div class="product-card__size size size--dark">
                                <label class="size__item size__item--disabled">
                                    <input class="checkbox" disabled type="radio" name="size">
                                    <span>XS</span>
                                </label>
                                <label class="size__item">
                                    <input class="checkbox" type="radio" name="size">
                                    <span>S</span>
                                </label>
                                <label class="size__item">
                                    <input class="checkbox" type="radio" name="size">
                                    <span>M</span>
                                </label>
                                <label class="size__item">
                                    <input class="checkbox" type="radio" name="size">
                                    <span>L</span>
                                </label>
                                <label class="size__item">
                                    <input class="checkbox" type="radio" name="size">
                                    <span>XL</span>
                                </label>
                            </div>
                            <p class="product-card__currency">Последний экземпляр</p>
                            <div class="size-table-button" data-button-open="size-table">
                                <svg class="size-table-button__icon">
                                    <use xlink:href="./assets/sprite/sprite.svg#icon-table"></use>
                                </svg>
                                <span>Траблица размеров</span>
                            </div>
                        </div>
                        <div class="product-card__toolbox">
                            <button class="button button--medium button--small button--light mob-hidden" data-personal-button data-product-id="123">
                                Добавить в корзину
                                <svg class="button__icon">
                                    <use xlink:href="./assets/sprite/sprite.svg#icon-cart"></use>
                                </svg>
                            </button>
                            <button class="button button--medium button--small button--orange mob-hidden" data-personal-button data-id="123">
                                <span>В избранное</span>
                                <svg class="button__icon">
                                    <use xlink:href="./assets/sprite/sprite.svg#icon-heart"></use>
                                </svg>
                            </button>
                            <button class="button button--medium button--small button--light">Купить в рассрочку</button>
                        </div>
                    </div>
                </div>
                <div class="product-card__detail">
                    <div class="product-card__column">
                        <div class="product-card__item">
                            <h3 class="product-card__head product-card__head--big">Описание товара</h3>
                            <p class="product-card__text">
                                Экошуба с элегантным воротником и аккуратными боковыми карманами в бежевом оттенке. Шуба
                                выполнена из мягкого искусственного меха. Он не пропускает влагу, держит форму, не
                                скатывается. используется утеплитель Термофинн. Выдерживает до -25 градусов.
                            </p>
                        </div>
                        <div class="product-card__item">
                            <h3 class="product-card__head product-card__head--big">Параметры изделия:</h3>
                            <p class="product-card__text">наполнитель Термофин<br>
                                40 42 44 46<br>
                                ОГ 114<br>
                                ОТ 100<br>
                                ОБ 107<br>
                                Рукав внутр.шов 44<br>
                                Длина изд 99</p>
                        </div>
                    </div>
                    <div class="product-card__column">
                        <div class="product-card__item">
                            <h3 class="product-card__head product-card__head--big">Состав:</h3>
                            <p class="product-card__text">70% шерсть, 30% полиамид, подклад 70% вискоза, 30% П/Э</p>
                        </div>
                        <div class="product-card__item">
                            <h3 class="product-card__head product-card__head--big">На модели:</h3>
                            <p class="product-card__text">
                                Рост 174<br>
                                86/63/90<br>
                                Размер 40
                            </p>
                        </div>
                        <div class="product-card__item">
                            <h3 class="product-card__head product-card__head--big">Гарантия:</h3>
                            <p class="product-card__text">Гарантия на изделие составляет 30 дней с момента покупки.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section pb-60">
        <div class="container">
            <div class="head">
                <h2 class="title title--upper">добавьте к образу</h2>
            </div>
            <div class="slider slider--product" data-slider="slider">
                <div class="slider__wrapper">
                    <div class="slider__item">
                        <article class="card">
                            <div class="card__picture">
                                <div class="label label--small label--orange">
                                    <svg class="label__icon">
                                        <use xlink:href="./assets/sprite/sprite.svg#icon-persent"></use>
                                    </svg>
                                </div>
                                <img src="./assets/images/image%2032.png" alt="">
                                <button class="add-favourite">
                                    <svg class="add-favourite__icon">
                                        <use xlink:href="./assets/sprite/sprite.svg#icon-heart-fill"></use>
                                    </svg>
                                </button>
                            </div>
                            <div class="card__info">
                                <a href="#" class="card__title">Лонгслив из смесового хлопка</a>
                                <div class="card__price">
                                    <p class="card__current-price">6 800 ₽</p>
                                    <p class="card__previous-price">10 800 ₽</p>
                                </div>
                                <div class="card__properties">
                                    <div class="card-color">
                                        <label class="card-color__item">
                                            <input type="radio" style="background-color: #272727" name="color">
                                            <span></span>
                                        </label>
                                        <label class="card-color__item">
                                            <input type="radio" style="background-color: #543427" name="color">
                                            <span></span>
                                        </label>
                                        <label class="card-color__item">
                                            <input type="radio" style="background-color: #D8C392" name="color">
                                            <span></span>
                                        </label>
                                    </div>
                                    <div class="size">
                                        <label class="size__item size__item--disabled">
                                            <input class="checkbox" disabled type="radio" name="size">
                                            <span>XS</span>
                                        </label>
                                        <label class="size__item">
                                            <input class="checkbox" type="radio" name="size">
                                            <span>S</span>
                                        </label>
                                        <label class="size__item">
                                            <input class="checkbox" type="radio" name="size">
                                            <span>M</span>
                                        </label>
                                        <label class="size__item">
                                            <input class="checkbox" type="radio" name="size">
                                            <span>L</span>
                                        </label>
                                        <label class="size__item">
                                            <input class="checkbox" type="radio" name="size">
                                            <span>XL</span>
                                        </label>
                                    </div>
                                    <button class="card__button">
                                        Добавить в корзину
                                        <svg>
                                            <use xlink:href="./assets/sprite/sprite.svg#icon-cart"></use>
                                        </svg>
                                    </button>
                                </div>
                            </div>
                        </article>
                    </div>
                    <div class="slider__item">
                        <article class="card">
                            <div class="card__picture">
                                <div class="label label--small label--orange">
                                    <svg class="label__icon">
                                        <use xlink:href="./assets/sprite/sprite.svg#icon-persent"></use>
                                    </svg>
                                </div>
                                <img src="./assets/images/image%2032.png" alt="">
                                <button class="add-favourite">
                                    <svg class="add-favourite__icon">
                                        <use xlink:href="./assets/sprite/sprite.svg#icon-heart-fill"></use>
                                    </svg>
                                </button>
                            </div>
                            <div class="card__info">
                                <a href="#" class="card__title">Лонгслив из смесового хлопка</a>
                                <div class="card__price">
                                    <p class="card__current-price">6 800 ₽</p>
                                    <p class="card__previous-price">10 800 ₽</p>
                                </div>
                                <div class="card__properties">
                                    <div class="card-color">
                                        <label class="card-color__item">
                                            <input type="radio" style="background-color: #272727" name="color">
                                            <span></span>
                                        </label>
                                        <label class="card-color__item">
                                            <input type="radio" style="background-color: #543427" name="color">
                                            <span></span>
                                        </label>
                                        <label class="card-color__item">
                                            <input type="radio" style="background-color: #D8C392" name="color">
                                            <span></span>
                                        </label>
                                    </div>
                                    <div class="size">
                                        <label class="size__item size__item--disabled">
                                            <input class="checkbox" disabled type="radio" name="size">
                                            <span>XS</span>
                                        </label>
                                        <label class="size__item">
                                            <input class="checkbox" type="radio" name="size">
                                            <span>S</span>
                                        </label>
                                        <label class="size__item">
                                            <input class="checkbox" type="radio" name="size">
                                            <span>M</span>
                                        </label>
                                        <label class="size__item">
                                            <input class="checkbox" type="radio" name="size">
                                            <span>L</span>
                                        </label>
                                        <label class="size__item">
                                            <input class="checkbox" type="radio" name="size">
                                            <span>XL</span>
                                        </label>
                                    </div>
                                    <button class="card__button">
                                        Добавить в корзину
                                        <svg>
                                            <use xlink:href="./assets/sprite/sprite.svg#icon-cart"></use>
                                        </svg>
                                    </button>
                                </div>
                            </div>
                        </article>
                    </div>
                    <div class="slider__item">
                        <article class="card">
                            <div class="card__picture">
                                <div class="label label--small label--orange">
                                    <svg class="label__icon">
                                        <use xlink:href="./assets/sprite/sprite.svg#icon-persent"></use>
                                    </svg>
                                </div>
                                <img src="./assets/images/image%2032.png" alt="">
                                <button class="add-favourite">
                                    <svg class="add-favourite__icon">
                                        <use xlink:href="./assets/sprite/sprite.svg#icon-heart-fill"></use>
                                    </svg>
                                </button>
                            </div>
                            <div class="card__info">
                                <a href="#" class="card__title">Лонгслив из смесового хлопка</a>
                                <div class="card__price">
                                    <p class="card__current-price">6 800 ₽</p>
                                    <p class="card__previous-price">10 800 ₽</p>
                                </div>
                                <div class="card__properties">
                                    <div class="card-color">
                                        <label class="card-color__item">
                                            <input type="radio" style="background-color: #272727" name="color">
                                            <span></span>
                                        </label>
                                        <label class="card-color__item">
                                            <input type="radio" style="background-color: #543427" name="color">
                                            <span></span>
                                        </label>
                                        <label class="card-color__item">
                                            <input type="radio" style="background-color: #D8C392" name="color">
                                            <span></span>
                                        </label>
                                    </div>
                                    <div class="size">
                                        <label class="size__item size__item--disabled">
                                            <input class="checkbox" disabled type="radio" name="size">
                                            <span>XS</span>
                                        </label>
                                        <label class="size__item">
                                            <input class="checkbox" type="radio" name="size">
                                            <span>S</span>
                                        </label>
                                        <label class="size__item">
                                            <input class="checkbox" type="radio" name="size">
                                            <span>M</span>
                                        </label>
                                        <label class="size__item">
                                            <input class="checkbox" type="radio" name="size">
                                            <span>L</span>
                                        </label>
                                        <label class="size__item">
                                            <input class="checkbox" type="radio" name="size">
                                            <span>XL</span>
                                        </label>
                                    </div>
                                    <button class="card__button">
                                        Добавить в корзину
                                        <svg>
                                            <use xlink:href="./assets/sprite/sprite.svg#icon-cart"></use>
                                        </svg>
                                    </button>
                                </div>
                            </div>
                        </article>
                    </div>
                    <div class="slider__item">
                        <article class="card">
                            <div class="card__picture">
                                <div class="label label--small label--orange">
                                    <svg class="label__icon">
                                        <use xlink:href="./assets/sprite/sprite.svg#icon-persent"></use>
                                    </svg>
                                </div>
                                <img src="./assets/images/image%2032.png" alt="">
                                <button class="add-favourite">
                                    <svg class="add-favourite__icon">
                                        <use xlink:href="./assets/sprite/sprite.svg#icon-heart-fill"></use>
                                    </svg>
                                </button>
                            </div>
                            <div class="card__info">
                                <a href="#" class="card__title">Лонгслив из смесового хлопка</a>
                                <div class="card__price">
                                    <p class="card__current-price">6 800 ₽</p>
                                    <p class="card__previous-price">10 800 ₽</p>
                                </div>
                                <div class="card__properties">
                                    <div class="card-color">
                                        <label class="card-color__item">
                                            <input type="radio" style="background-color: #272727" name="color">
                                            <span></span>
                                        </label>
                                        <label class="card-color__item">
                                            <input type="radio" style="background-color: #543427" name="color">
                                            <span></span>
                                        </label>
                                        <label class="card-color__item">
                                            <input type="radio" style="background-color: #D8C392" name="color">
                                            <span></span>
                                        </label>
                                    </div>
                                    <div class="size">
                                        <label class="size__item size__item--disabled">
                                            <input class="checkbox" disabled type="radio" name="size">
                                            <span>XS</span>
                                        </label>
                                        <label class="size__item">
                                            <input class="checkbox" type="radio" name="size">
                                            <span>S</span>
                                        </label>
                                        <label class="size__item">
                                            <input class="checkbox" type="radio" name="size">
                                            <span>M</span>
                                        </label>
                                        <label class="size__item">
                                            <input class="checkbox" type="radio" name="size">
                                            <span>L</span>
                                        </label>
                                        <label class="size__item">
                                            <input class="checkbox" type="radio" name="size">
                                            <span>XL</span>
                                        </label>
                                    </div>
                                    <button class="card__button">
                                        Добавить в корзину
                                        <svg>
                                            <use xlink:href="./assets/sprite/sprite.svg#icon-cart"></use>
                                        </svg>
                                    </button>
                                </div>
                            </div>
                        </article>
                    </div>
                    <div class="slider__item">
                        <article class="card">
                            <div class="card__picture">
                                <div class="label label--small label--orange">
                                    <svg class="label__icon">
                                        <use xlink:href="./assets/sprite/sprite.svg#icon-persent"></use>
                                    </svg>
                                </div>
                                <img src="./assets/images/image%2032.png" alt="">
                                <button class="add-favourite">
                                    <svg class="add-favourite__icon">
                                        <use xlink:href="./assets/sprite/sprite.svg#icon-heart-fill"></use>
                                    </svg>
                                </button>
                            </div>
                            <div class="card__info">
                                <a href="#" class="card__title">Лонгслив из смесового хлопка</a>
                                <div class="card__price">
                                    <p class="card__current-price">6 800 ₽</p>
                                    <p class="card__previous-price">10 800 ₽</p>
                                </div>
                                <div class="card__properties">
                                    <div class="card-color">
                                        <label class="card-color__item">
                                            <input type="radio" style="background-color: #272727" name="color">
                                            <span></span>
                                        </label>
                                        <label class="card-color__item">
                                            <input type="radio" style="background-color: #543427" name="color">
                                            <span></span>
                                        </label>
                                        <label class="card-color__item">
                                            <input type="radio" style="background-color: #D8C392" name="color">
                                            <span></span>
                                        </label>
                                    </div>
                                    <div class="size">
                                        <label class="size__item size__item--disabled">
                                            <input class="checkbox" disabled type="radio" name="size">
                                            <span>XS</span>
                                        </label>
                                        <label class="size__item">
                                            <input class="checkbox" type="radio" name="size">
                                            <span>S</span>
                                        </label>
                                        <label class="size__item">
                                            <input class="checkbox" type="radio" name="size">
                                            <span>M</span>
                                        </label>
                                        <label class="size__item">
                                            <input class="checkbox" type="radio" name="size">
                                            <span>L</span>
                                        </label>
                                        <label class="size__item">
                                            <input class="checkbox" type="radio" name="size">
                                            <span>XL</span>
                                        </label>
                                    </div>
                                    <button class="card__button">
                                        Добавить в корзину
                                        <svg>
                                            <use xlink:href="./assets/sprite/sprite.svg#icon-cart"></use>
                                        </svg>
                                    </button>
                                </div>
                            </div>
                        </article>
                    </div>
                    <div class="slider__item">
                        <article class="card">
                            <div class="card__picture">
                                <div class="label label--small label--orange">
                                    <svg class="label__icon">
                                        <use xlink:href="./assets/sprite/sprite.svg#icon-persent"></use>
                                    </svg>
                                </div>
                                <img src="./assets/images/image%2032.png" alt="">
                                <button class="add-favourite">
                                    <svg class="add-favourite__icon">
                                        <use xlink:href="./assets/sprite/sprite.svg#icon-heart-fill"></use>
                                    </svg>
                                </button>
                            </div>
                            <div class="card__info">
                                <a href="#" class="card__title">Лонгслив из смесового хлопка</a>
                                <div class="card__price">
                                    <p class="card__current-price">6 800 ₽</p>
                                    <p class="card__previous-price">10 800 ₽</p>
                                </div>
                                <div class="card__properties">
                                    <div class="card-color">
                                        <label class="card-color__item">
                                            <input type="radio" style="background-color: #272727" name="color">
                                            <span></span>
                                        </label>
                                        <label class="card-color__item">
                                            <input type="radio" style="background-color: #543427" name="color">
                                            <span></span>
                                        </label>
                                        <label class="card-color__item">
                                            <input type="radio" style="background-color: #D8C392" name="color">
                                            <span></span>
                                        </label>
                                    </div>
                                    <div class="size">
                                        <label class="size__item size__item--disabled">
                                            <input class="checkbox" disabled type="radio" name="size">
                                            <span>XS</span>
                                        </label>
                                        <label class="size__item">
                                            <input class="checkbox" type="radio" name="size">
                                            <span>S</span>
                                        </label>
                                        <label class="size__item">
                                            <input class="checkbox" type="radio" name="size">
                                            <span>M</span>
                                        </label>
                                        <label class="size__item">
                                            <input class="checkbox" type="radio" name="size">
                                            <span>L</span>
                                        </label>
                                        <label class="size__item">
                                            <input class="checkbox" type="radio" name="size">
                                            <span>XL</span>
                                        </label>
                                    </div>
                                    <button class="card__button">
                                        Добавить в корзину
                                        <svg>
                                            <use xlink:href="./assets/sprite/sprite.svg#icon-cart"></use>
                                        </svg>
                                    </button>
                                </div>
                            </div>
                        </article>
                    </div>
                    <div class="slider__item">
                        <article class="card">
                            <div class="card__picture">
                                <div class="label label--small label--orange">
                                    <svg class="label__icon">
                                        <use xlink:href="./assets/sprite/sprite.svg#icon-persent"></use>
                                    </svg>
                                </div>
                                <img src="./assets/images/image%2032.png" alt="">
                                <button class="add-favourite">
                                    <svg class="add-favourite__icon">
                                        <use xlink:href="./assets/sprite/sprite.svg#icon-heart-fill"></use>
                                    </svg>
                                </button>
                            </div>
                            <div class="card__info">
                                <a href="#" class="card__title">Лонгслив из смесового хлопка</a>
                                <div class="card__price">
                                    <p class="card__current-price">6 800 ₽</p>
                                    <p class="card__previous-price">10 800 ₽</p>
                                </div>
                                <div class="card__properties">
                                    <div class="card-color">
                                        <label class="card-color__item">
                                            <input type="radio" style="background-color: #272727" name="color">
                                            <span></span>
                                        </label>
                                        <label class="card-color__item">
                                            <input type="radio" style="background-color: #543427" name="color">
                                            <span></span>
                                        </label>
                                        <label class="card-color__item">
                                            <input type="radio" style="background-color: #D8C392" name="color">
                                            <span></span>
                                        </label>
                                    </div>
                                    <div class="size">
                                        <label class="size__item size__item--disabled">
                                            <input class="checkbox" disabled type="radio" name="size">
                                            <span>XS</span>
                                        </label>
                                        <label class="size__item">
                                            <input class="checkbox" type="radio" name="size">
                                            <span>S</span>
                                        </label>
                                        <label class="size__item">
                                            <input class="checkbox" type="radio" name="size">
                                            <span>M</span>
                                        </label>
                                        <label class="size__item">
                                            <input class="checkbox" type="radio" name="size">
                                            <span>L</span>
                                        </label>
                                        <label class="size__item">
                                            <input class="checkbox" type="radio" name="size">
                                            <span>XL</span>
                                        </label>
                                    </div>
                                    <button class="card__button">
                                        Добавить в корзину
                                        <svg>
                                            <use xlink:href="./assets/sprite/sprite.svg#icon-cart"></use>
                                        </svg>
                                    </button>
                                </div>
                            </div>
                        </article>
                    </div>
                    <div class="slider__item">
                        <article class="card">
                            <div class="card__picture">
                                <div class="label label--small label--orange">
                                    <svg class="label__icon">
                                        <use xlink:href="./assets/sprite/sprite.svg#icon-persent"></use>
                                    </svg>
                                </div>
                                <img src="./assets/images/image%2032.png" alt="">
                                <button class="add-favourite">
                                    <svg class="add-favourite__icon">
                                        <use xlink:href="./assets/sprite/sprite.svg#icon-heart-fill"></use>
                                    </svg>
                                </button>
                            </div>
                            <div class="card__info">
                                <a href="#" class="card__title">Лонгслив из смесового хлопка</a>
                                <div class="card__price">
                                    <p class="card__current-price">6 800 ₽</p>
                                    <p class="card__previous-price">10 800 ₽</p>
                                </div>
                                <div class="card__properties">
                                    <div class="card-color">
                                        <label class="card-color__item">
                                            <input type="radio" style="background-color: #272727" name="color">
                                            <span></span>
                                        </label>
                                        <label class="card-color__item">
                                            <input type="radio" style="background-color: #543427" name="color">
                                            <span></span>
                                        </label>
                                        <label class="card-color__item">
                                            <input type="radio" style="background-color: #D8C392" name="color">
                                            <span></span>
                                        </label>
                                    </div>
                                    <div class="size">
                                        <label class="size__item size__item--disabled">
                                            <input class="checkbox" disabled type="radio" name="size">
                                            <span>XS</span>
                                        </label>
                                        <label class="size__item">
                                            <input class="checkbox" type="radio" name="size">
                                            <span>S</span>
                                        </label>
                                        <label class="size__item">
                                            <input class="checkbox" type="radio" name="size">
                                            <span>M</span>
                                        </label>
                                        <label class="size__item">
                                            <input class="checkbox" type="radio" name="size">
                                            <span>L</span>
                                        </label>
                                        <label class="size__item">
                                            <input class="checkbox" type="radio" name="size">
                                            <span>XL</span>
                                        </label>
                                    </div>
                                    <button class="card__button">
                                        Добавить в корзину
                                        <svg>
                                            <use xlink:href="./assets/sprite/sprite.svg#icon-cart"></use>
                                        </svg>
                                    </button>
                                </div>
                            </div>
                        </article>
                    </div>
                </div>
                <div class="slider__controls">
                    <button class="slider__button slider__button--prev">
                        <svg>
                            <use xlink:href="./assets/sprite/sprite.svg#icon-arrow"></use>
                        </svg>
                    </button>
                    <button class="slider__button slider__button--next">
                        <svg>
                            <use xlink:href="./assets/sprite/sprite.svg#icon-arrow"></use>
                        </svg>
                    </button>
                </div>
            </div>
        </div>
    </section>
    <section class="section">
        <div class="container">
            <div class="toolbox">
                <button class="button button--medium button--light">
                    Добавить в корзину
                    <svg class="button__icon">
                        <use xlink:href="./assets/sprite/sprite.svg#icon-cart"></use>
                    </svg>
                </button>
                <button class="button button--medium button--orange">
                    <svg class="button__icon">
                        <use xlink:href="./assets/sprite/sprite.svg#icon-heart"></use>
                    </svg>
                </button>
            </div>
        </div>
    </section>
</main>

<%= htmlWebpackPlugin.options.sectionFooter %>
<%= htmlWebpackPlugin.options.temp %>
<%= htmlWebpackPlugin.options.hidden %>
</body>
</html>
