<!DOCTYPE html>
<html lang="ru">

<head>
    <%= htmlWebpackPlugin.options.head %>
    <title><%= htmlWebpackPlugin.options.title %></title>
</head>

<body class="body">
<%= htmlWebpackPlugin.options.sectionHeader %>
<main class="main">
    <section class="section mob-hidden mb-60">
        <div class="container">
            <div class="breadcrumbs">
                <ul class="breadcrumbs__list">
                    <li class="breadcrumbs__item">
                        <a href="#" class="breadcrumbs__link">Главная</a>
                    </li>
                    <li class="breadcrumbs__item">
                        <span class="breadcrumbs__link breadcrumbs__link--current">Каталог</span>
                    </li>
                </ul>
            </div>
        </div>
    </section>
    <section class="section pb-135">
        <div class="container">
            <div class="static">
                <h1 class="title title--bold mb-40">Возврат</h1>
                <div class="static__top">
                    <b>Обращаем ваше внимание!</b>
                    <p>Возврат осуществляется при наличии <a href="#"><span>ЗАПОЛНЕННОГО ЗАЯВЛЕНИЯ.</span></a></p>
                    <p>Изделия подлежат обмену и возврату, если их товарный вид не нарушен, нет следов носки, и
                        загрязнений, сохранены товарные этикетки.</p>
                    <p>Возврат осуществляется за счет Покупателя.</p>
                    <p>В каждый заказ вкладывается бланк с заявлением на возврат и памятка со всей информацией.</p>
                </div>
                <div class="static__block">
                    <div class="static__section">
                        <h3 class="static__title static__title--big">
                            <svg>
                                <use xlink:href="./assets/sprite/sprite.svg#icon-wallet"></use>
                            </svg>
                            Возврат интернет-заказа в оффлайн бутик FreshDress
                        </h3>
                        <p class="mb-40">
                            У вас есть 7 дней после получения интернет-заказа для возврата товара в оффлайн-магазин. В
                            соответствии Постановлении Правительства РФ от 31 декабря 2020 г. N 2463 п.22 "Об
                            утверждении Правил продажи товаров по договору розничной купли-продажи, перечня товаров
                            длительного пользования, на которые не распространяется требование потребителя о
                            безвозмездном предоставлении ему товара, обладающего этими же основными потребительскими
                            свойствами, на период ремонта или замены такого товара, и перечня непродовольственных
                            товаров надлежащего качества, не подлежащих обмену, а также о внесении изменений в некоторые
                            акты Правительства Российской Федерации"
                        </p>
                        <ul>
                            <li>
                                Упакуйте вещи в пакет и коробку и приложите заявление на возврат.
                            </li>
                        </ul>
                    </div>
                    <div class="static__list">
                        <h3 class="static__title">
                            <svg>
                                <use xlink:href="./assets/sprite/sprite.svg#icon-smile-2"></use>
                            </svg>
                            Способы возврата денежных средств:
                        </h3>
                        <ul class="mb-32">
                            <li>
                                при оплате заказа наличными курьеру возврат денежных средств осуществляется только на
                                Банковский счет Покупателя, который указывается в бланке возврата;
                            </li>
                            <li>
                                при безналичном расчете осуществляется непосредственно на счёт, с которого происходила
                                оплата.
                            </li>
                        </ul>
                    </div>
                    <div class="static__section">
                        <p>
                            После одобрения возврата, мы перечислим денежные средства на карту или банковский счет в
                            течении 10ти банковских дней, для этого необходимо заполнить полные реквизиты для перевода
                            денежных средств в заявлении на возврат. В случае проблем с прохождением платежа мы с Вами
                            свяжемся для уточнения реквизитов. Обращаем ваше внимание, что возврат денежных средств
                            зависит от скорости обработки операции вашим Банком и может достигать 30 банковских дней.
                        </p>
                    </div>
                </div>
                <div class="static__block">
                    <div class="static__section">
                        <h3 class="static__title static__title--big">
                            <svg>
                                <use xlink:href="./assets/sprite/sprite.svg#icon-car"></use>
                            </svg>
                            Отправка возврата
                        </h3>
                        <p class="mb-32">
                            Осуществить возврат можно в течении 7 дней после получения товара. ВОЗВРАТ ТОВАРА
                            НАДЛЕЖАЩЕГО КАЧЕСТВА ВОЗМОЖЕН В СЛУЧАЕ, ЕСЛИ СОХРАНЕНЫ ЕГО ТОВАРНЫЙ ВИД, ФАБРИЧНЫЕ ЯРЛЫКИ,
                            ЭТИКЕТКИ, ПОТРЕБИТЕЛЬСКИЕ СВОЙСТВА
                        </p>
                        <ul class="mb-32">
                            <li>
                                Приложите к товару заявление на возврат. Упакуйте все вещи для возврата в пакет и
                                коробку, в которой был получен данный заказ.
                            </li>
                            <li>
                                Отправить на номер <a href="#">+7 (929) 694-44-56</a> <span>фотографию ЗАЯВЛЕНИЯ</span>
                                и <span>ТРЕК номер отправления</span>
                            </li>
                            <li>
                                Отправьте посылку курьерской компанией СДЭК, DHL или Почтой России.
                            </li>
                        </ul>
                    </div>
                    <div class="static__section">
                        <b>Вариант 1</b>
                        <p>
                            Отправление через транспортные компании СДЭК и DHL<br>
                            Южнопортовая 5 стр 1 офис 334<br>
                            Щербинок Галина Валерьевна<br>
                            тлф +7 925 453 91 87
                        </p>
                    </div>
                    <div class="static__section">
                        <b>Вариант 2</b>
                        <p>
                            Отправка ПОЧТА РОССИИ<br>
                            115088,Москва, Шарикоподшипниковская ул., 32.<br>
                            Щербинок Галина Валерьевна<br>
                            тлф +7 925 453 91 87<br>
                            Отправление до востребования
                        </p>
                    </div>
                    <div class="static__section">
                        <b>Вариант 3</b>
                        <p>
                            Отправка до СДЭК ПВЗ<br>
                            Москва, Южнопортовая ул., 9 стр 12<br>
                            ИП Владыкина Ксения Юрьевна,<br>
                            контактный номер +7 925 453 91 87
                        </p>
                    </div>
                    <div class="static__section">
                        <p>
                            Стоимость самостоятельной отправки не компенсируется.
                        </p>
                        <p>
                            Свяжитесь с менеджером, с которым Вы оформляли заказ и сообщите трек-номер и название транспортной компании, приложив фото оформленного заявления.
                        </p>
                        <p>
                            После получения и проверки возврата, мы перечислим денежные средства на карту или банковский счет в срок до 10ти рабочих дней, для этого необходимо заполнить полные реквизиты для перевода денежных средств в заявлении на возврат. В случае проблем с прохождением платежа мы с вами свяжемся для уточнения реквизитов. Обращаем ваше внимание, что возврат денежных средств зависит от скорости обработки операции вашим Банком и может достигать 30 банковских дней.
                        </p>
                        <p>
                            Возврат денежных средств осуществляется за вычетом суммы доставки.
                        </p>
                        <p>
                            В случае нарушений вышеуказанных условий оформления возврата или обмена товара (отсутствие заполненного заявления; заявление заполнено не полностью или с ошибками; отсутствуют необходимые документы) магазин не гарантирует поступление товара на условиях возврата или обмена в магазин. В связи с этим магазин не гарантирует оплату данного товара.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>

<%= htmlWebpackPlugin.options.sectionFooter %>
<%= htmlWebpackPlugin.options.temp %>
<%= htmlWebpackPlugin.options.hidden %>
</body>
</html>
