<!DOCTYPE html>
<html lang="ru">

<head>
    <%= htmlWebpackPlugin.options.head %>
    <title><%= htmlWebpackPlugin.options.title %></title>
</head>

<body class="body">
<%= htmlWebpackPlugin.options.sectionHeader %>
<main class="main">
    <section class="section mob-hidden mb-60">
        <div class="container">
            <div class="breadcrumbs">
                <ul class="breadcrumbs__list">
                    <li class="breadcrumbs__item">
                        <a href="#" class="breadcrumbs__link">Главная</a>
                    </li>
                    <li class="breadcrumbs__item">
                        <span class="breadcrumbs__link breadcrumbs__link--current">Каталог</span>
                    </li>
                </ul>
            </div>
        </div>
    </section>
    <section class="section pb-135 pbm-100">
        <div class="container">
            <div class="static static--full">
                <div class="static__top static__top--620">
                    <h1 class="title title--big mb-15">Уход</h1>
                    <p class="static__text">
                        Мы создали руководство по уходу за материалами, которые требуют особого внимания, чтобы помочь
                        вам
                        правильно ухаживать за своей одеждой: так она прослужит дольше. Следуя приведенным здесь
                        рекомендациям, вы сможете уменьшить износ одежды.
                    </p>
                </div>
                <div class="tabs mb-65 mbm-50">
                    <div class="tabs__item active" data-tabs>
                        <picture class="tabs__picture">
                            <img
                                src="https://s3-alpha-sig.figma.com/img/b179/7c19/e99dcee316dcaaebe026b27f2cc24003?Expires=1698019200&Signature=npXaVDI63It1qCdOP56NmbQ~INEcgpwYfGSvAgs7FfQ~i5ThQCgkxfpMfAkp4crFafKedbkjR4NkwqX5a3LCT8YkfFjMk93Dg7QA9JE7d1WiSoKC0hN1JNC1bSJIe429bfU9-FdnoxjSV4dWwg3FLBhSkhky8iAZGHXy4qN4XotMQiNGtsnv8Ee3Q9ihSza0Pm6tFE2Z1--UTsPFY3v44zwimji1elOp4ERieVpRcoPoPGDGmTJoMEvOVw5pl3rmX~7fPIMFYr-PvwT8~dehG60kiIAWReeESCQOziWzjtLbU6TOmHx84Vi70FLej2htnnpjZvn0wqG736P6dOnSxg__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4"
                                alt="">
                        </picture>
                        <button class="tabs__button">Изделия из экокожи</button>
                    </div>
                    <div class="tabs__item" data-tabs>
                        <picture class="tabs__picture">
                            <img
                                src="https://s3-alpha-sig.figma.com/img/7b40/f1e1/966c800000584ca866bf89a7dd9f9a79?Expires=1698019200&Signature=OfwDy7PYSghsyvsA7ltfttWDWlNhVdxQkKhz81M8dgCgfbeXWUQy9Q~W-0wKgwxNsESV6raC5kTMq1R7--5JaR5BWtSatSaNNeo01smGCIveXlQkUy47YAejhmNqOqj99ok5kLgiTYxJcgzsgIEqVcLpMSUB-~ux2xhNze-DoQ21-1mApVc7t1oQ8y9xGbE~FpEMdEXuD94P4vJ4t~Z-d0w3qwYMgEFTgDsHN7KUwt1xxkvSYwA8yaL7hGFvsH5NpY5tW4thOVa~JKTr6jc~DAyW02sidPi2ueDSSTBDXltQLlQ3TfhevUw~vEdasPQvD1DhSZHLK2y~hATwJbUqOg__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4"
                                alt="">
                        </picture>
                        <button class="tabs__button">Изделия из шёлка</button>
                    </div>
                    <div class="tabs__item" data-tabs>
                        <picture class="tabs__picture">
                            <img
                                src="https://s3-alpha-sig.figma.com/img/72f6/011d/b8f6ce80058243c44d98c17b150d764f?Expires=1698019200&Signature=pl3i7YtPjCaNHgOzsrdf9xHoRb3iCBqQK0Y7WSl4kQM8aNV4qiHx1an4aod~khu8UIVCD9-trxsmUKIImNMcd1msWocbMHVFvU0Kcg7YXag0BrdyO01WYdmtZN~1yWxquX~yV0SwyCWmrmTe8-DJ93oGU3IQ9RR8C-QFmtkZiryC9-yr0y2026y9obWcNQVfcX8Ojal3vtfcGWG8WnGdzlA5N9JoTbGegF-g3be47rbNap4FidnmEscnMJbclnqB3XYiFevIuaebsG6qP3TTZ0pLeH0v5uJhLCIqaoJxOVY83lEsGOdjtK8MVu6zOxsA1INaKz9rsqP4xECa1glnuA__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4"
                                alt="">
                        </picture>
                        <button class="tabs__button">Трикотажные изделия</button>
                    </div>
                </div>
                <div class="static__content" data-tabs-content>
                    <div class="static__item active">
                        <div class="editor editor--flex">
                            <b class="mb-25">Изделия из экокожи</b>
                            <p class="mb-30">
                                Изделия из экокожи пользуются огромной популярностью и уход за изделиями из экокожи не
                                представляет особенной сложности и заключается в их правильной эксплуатации, чистке и
                                хранении. Чтобы этот материал как можно дольше сохранял свой первоначальный вид,
                                потребуется соблюдать ряд правил.
                            </p>
                            <b class="mb-20">Стоит запомнить 8 основных правил.</b>
                            <ul class="mb-30">
                                <li>
                                    Регулярно очищать поверхность при помощи мягкой ткани.
                                </li>
                                <li>
                                    Удалять появившиеся пятна только поролоновой губкой или куском фланели, избегая
                                    использования щеток.
                                </li>
                                <li>
                                    Подбирать щадящие средства для чистки, не содержащие абразивных частиц и агрессивных
                                    компонентов.
                                </li>
                                <li>
                                    В процессе удаления грязи протирать материал легкими движениями, не прилагая больших
                                    механических усилий.
                                </li>
                                <li>
                                    Использовать специальные средства для защиты материала от влаги, предотвращения
                                    трещин и придания ему мягкости и блеска.
                                </li>
                                <li>
                                    Оберегать изделия из экокожи от воздействия прямых солнечных лучей.
                                </li>
                                <li>
                                    Сушить материал естественным путем, вдали от обогревательных приборов и батарей
                                    отопления.
                                </li>
                                <li>
                                    Не складывайте кожаную одежду. На поверхности ткани могут оставаться заломы, которые
                                    со временем трудно убрать. Поэтому лучше хранить одежду из кожи на вешалках с
                                    плотными плечиками. Помните, что эти вещи плохо переносят тесноту и они не должны
                                    соприкасаться с другими изделиями из экокожи.
                                </li>
                            </ul>
                            <b class="mb-20">❗️ Совет ️</b>
                            <p>Если вещь из экокожи сильно загрязнилась и на ней появились трудновыводимые пятна, не
                                следует
                                проводить эксперименты в домашних условиях. Лучше обратиться в химчистку, где
                                специалисты
                                точно знают, как привести в порядок такой материал.</p>
                        </div>
                        <picture class="static__picture">
                            <img src="https://s3-alpha-sig.figma.com/img/b179/7c19/e99dcee316dcaaebe026b27f2cc24003?Expires=1698019200&Signature=npXaVDI63It1qCdOP56NmbQ~INEcgpwYfGSvAgs7FfQ~i5ThQCgkxfpMfAkp4crFafKedbkjR4NkwqX5a3LCT8YkfFjMk93Dg7QA9JE7d1WiSoKC0hN1JNC1bSJIe429bfU9-FdnoxjSV4dWwg3FLBhSkhky8iAZGHXy4qN4XotMQiNGtsnv8Ee3Q9ihSza0Pm6tFE2Z1--UTsPFY3v44zwimji1elOp4ERieVpRcoPoPGDGmTJoMEvOVw5pl3rmX~7fPIMFYr-PvwT8~dehG60kiIAWReeESCQOziWzjtLbU6TOmHx84Vi70FLej2htnnpjZvn0wqG736P6dOnSxg__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4" alt="">
                        </picture>
                    </div>
                    <div class="static__item">
                        <div class="editor editor--flex">
                            <b class="mb-25">Изделия из шёлка</b>
                            <p class="mb-30">Изделия их шёлка - это натуральное волокно, которое отличается характерным
                                блеском и приятными тактильными ощущениями. Хорошо впитывает влагу. Однако натуральный
                                шелк имеет свои особенности и требует грамотного ухода за тканью. Несмотря на то, что
                                это прочная ткань, при неправильной эксплуатации шелк может потерять товарный вид,
                                потускнеть и потерять форму.</p>
                            <b class="mb-20">Стоит запомнить 6 основных правил.</b>
                            <ul class="mb-30">
                                <li>
                                    Лучше сдавать загрязненные шелковые изделия в химчистку, так Вы избежите многих проблем с сохранением цвета и формы.
                                </li>
                                <li>Шелковую ткань следует стирать вручную при температуре воды 30ºС (не больше)</li>
                                <li>При стирке изделия вручную необходимо соблюдать аккуратность, стирать в прохладной воде, сильно не тереть и не выжимать. Предварительно не нужно замачивать шелковую вещь, не используйте отбеливатели и иные агрессивные вещества.</li>
                                <li>При полоскании можно применять смягчители воды, ополаскиватель для шелка или немного уксуса – это усиливает яркость цвета.</li>
                                <li>Сушить шелковое изделие можно только в помещении или в тени, избегая попадания солнечных лучей, вдали от батареи и обогревателей. Лучше всего сначала аккуратно промокнуть изделие махровым полотенцем, а потом расстелить его на поверхности горизонтально или повесить на мягкие плечики.</li>
                                <li>Утюжить шелковую ткань следует в специальном режиме с изнаночной стороны. Лучше приступать к работе с утюгом, когда изделие еще чуть влажное после стирки. Не используйте пар и не опрыскивайте изделие водой – от этого на поверхности останутся пятна.</li>
                            </ul>
                            <b class="mb-20">❗️ И ещё один секрет:</b>
                            <p>Можно взять детское жидкое мыло без добавок, или шампунь для волос, так как шелк приближен к нашим волосам, только он еще нежнее, то и стирать его нужно средствами, подходящими для этого.</p>
                        </div>
                        <picture class="static__picture">
                            <img src="https://s3-alpha-sig.figma.com/img/7b40/f1e1/966c800000584ca866bf89a7dd9f9a79?Expires=1698019200&Signature=OfwDy7PYSghsyvsA7ltfttWDWlNhVdxQkKhz81M8dgCgfbeXWUQy9Q~W-0wKgwxNsESV6raC5kTMq1R7--5JaR5BWtSatSaNNeo01smGCIveXlQkUy47YAejhmNqOqj99ok5kLgiTYxJcgzsgIEqVcLpMSUB-~ux2xhNze-DoQ21-1mApVc7t1oQ8y9xGbE~FpEMdEXuD94P4vJ4t~Z-d0w3qwYMgEFTgDsHN7KUwt1xxkvSYwA8yaL7hGFvsH5NpY5tW4thOVa~JKTr6jc~DAyW02sidPi2ueDSSTBDXltQLlQ3TfhevUw~vEdasPQvD1DhSZHLK2y~hATwJbUqOg__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4" alt="">
                        </picture>
                    </div>
                    <div class="static__item">
                        <div class="editor editor--flex">
                            <b class="mb-25">Трикотажные изделия</b>
                            <p class="mb-30">Чтобы изделия из трикотажа продолжительное время не теряли своей красоты и яркости, о них нужно правильно заботиться.Отметим, что практичные трикотажные вещи не требуют сложного и трудоемкого ухода. Однако достаточно одного неверного действия, чтобы одежда потеряла вид.К таким ошибкам относится стирка в горячей воде, интенсивное выкручивание и отжимание, сушка и хранение в вертикальном положении.</p>
                            <b class="mb-20">Стоит запомнить 5 основных правил.</b>
                            <ul class="mb-30">
                                <li>Стирка в воде до 40 градусов: предпочтительно ручная или деликатный режим стиральной машины.</li>
                                <li>Использовать специальное моющее средство.</li>
                                <li>Выкручивать не желательно, можно лишь осторожно отжать.</li>
                                <li>Сушить лучше в горизонтальном положении, замотав в полотенце.</li>
                                <li>Хранить в сложенном виде, а не на плечиках.</li>
                            </ul>
                            <p>При исполнении этих несложных рекомендаций трикотажные вещи не вытянутся, не потеряют форму и цвет.</p>
                        </div>
                        <picture class="static__picture">
                            <img src="https://s3-alpha-sig.figma.com/img/72f6/011d/b8f6ce80058243c44d98c17b150d764f?Expires=1698019200&Signature=pl3i7YtPjCaNHgOzsrdf9xHoRb3iCBqQK0Y7WSl4kQM8aNV4qiHx1an4aod~khu8UIVCD9-trxsmUKIImNMcd1msWocbMHVFvU0Kcg7YXag0BrdyO01WYdmtZN~1yWxquX~yV0SwyCWmrmTe8-DJ93oGU3IQ9RR8C-QFmtkZiryC9-yr0y2026y9obWcNQVfcX8Ojal3vtfcGWG8WnGdzlA5N9JoTbGegF-g3be47rbNap4FidnmEscnMJbclnqB3XYiFevIuaebsG6qP3TTZ0pLeH0v5uJhLCIqaoJxOVY83lEsGOdjtK8MVu6zOxsA1INaKz9rsqP4xECa1glnuA__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4" alt="">
                        </picture>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>

<%= htmlWebpackPlugin.options.sectionFooter %>
<%= htmlWebpackPlugin.options.temp %>
<%= htmlWebpackPlugin.options.hidden %>
</body>
</html>
