.user-nav {
  display: flex;
  margin-left: auto;

  @include r($mobile) {
    width: 100%;
    padding: 19px 24px;
    background-color: #F6F6F6;
  }

  &__list {
    display: flex;
    gap: 20px;

    @include r($mobile) {
      width: 100%;
      justify-content: space-between;
    }
  }

  &__link {
    position: relative;
  }

  &__icon {
    display: flex;
    width: 28px;
    height: 28px;
    fill: $dark;
  }

  &__count {
    position: absolute;
    top: -7px;
    right: -8px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    font-size: 12px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    color: $light;
    background-color: $orange;
    border-radius: 50%;
  }
}
