.search {
  display: none;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
  gap: 24px;
  height: calc(100vh - 78px);
  padding-bottom: 60px;
  overflow-y: auto;

  &.active {
    display: flex;
  }

  &::-webkit-scrollbar {
    width: 0;
  }
  &::-webkit-scrollbar-thumb {
    background: #999;
  }
  &::-webkit-scrollbar-track {
    background: #333;
  }

  &__search {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 12px;
    width: 490px;
    padding: 11px 24px;
    border-radius: 58px;
    border: 2px solid $light-blink;
    background: $light;

    input {
      flex-grow: 1;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 26px;
      color: $dark;
    }
  }

  &__top {
    display: flex;
    flex-direction: column;
    gap: 14px;
    align-items: center;
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 65px;
  }

  &__wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 24px 30px;
  }

  &__results {
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    color: $outline;
  }

  &__icon {
    display: flex;
    width: 25px;
    height: 25px;
    cursor: pointer;
  }
}
