.add-favourite {
  position: absolute;
  right: 16px;
  bottom: 16px;
  cursor: pointer;

  @include r(1529) {
    right: 10px;
    bottom: 10px;
  }

  &.active {
    .add-favourite__icon {
      fill: $red;
      stroke: none;
    }
  }

  &__icon {
    display: flex;
    width: 26px;
    height: 26px;
    fill: none;
    stroke: $dark;
    stroke-width: 1.5px;
  }
}
