.nav {
  display: flex;
  @include r(1529) {
    display: none;
  }
  &__link {
    display: flex;
    padding: 28px 14px;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: $dark;

    &.active {
      background-color: rgba($light, 0.2);
    }
  }
}
