.coupon {
  display: flex;
  flex-direction: column;
  width: 490px;
  padding: 30px 40px 24px;
  background-image: url("../assets/images/coupon-small.png"), url("../assets/images/coupon.svg");
  background-repeat: no-repeat;
  background-position: top -25px right 50px, center;

  @include r($mobile) {
    width: 100%;
    background-size: 81px auto, 100% 100%;
    background-position: top -10px right 40px, center;
    grid-column: span 2;
  }

  &__price {
    margin-bottom: 4px;
    font-size: 32px;
    font-weight: 700;
    line-height: 113.9%;
    color: $light;
  }

  &__text {
    margin-bottom: 50px;
    font-size: 16px;
    font-weight: 500;
    line-height: 113.9%;
    color: $light;
  }

  &__button {
    display: flex;
    padding: 8px 16px;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 113.9%;
    color: $black;
    border-radius: 50px;
    background-color: $light;
  }
}
