.slider {
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  touch-action: pan-y;

  @include r(1529) {
    overflow: visible;
    padding: 0 24px;
  }

  &--visible {
    padding-bottom: 100px;
  }

  &--showcase {
    perspective: 800px;

    .slider__wrapper {
      transform-style: preserve-3d;
    }

    .slider__item {
      &:not(&--active) {
        position: relative;
        //filter: brightness(63%) ;
        &::after {
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          content: '';
          width: 100%;
          height: 100%;
          background-color: rgba($light, 0.4);
          transition: .2s linear;
        }
      }
    }
    .slider__button {
      @include r(1529) {
        display: none;
      }
    }
  }

  &--product {
    .slider__button {
      @include r(1529) {
        display: none;
      }
    }
  }

  &--product &__wrapper {
    align-items: flex-start;
  }

  &__wrapper {
    display: flex;
    align-items: center;
  }

  &__controls {
    position: absolute;
    width: 100%;
    pointer-events: none;

    @include r(1529) {
      left: 0;
    }
  }

  &__button {
    position: absolute;
    top: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    //border: 2px solid $black;
    border-radius: 50%;
    cursor: pointer;
    pointer-events: auto;
    transition: .2s linear;

    @include r(1529) {
      width: 30px;
      height: 30px;
    }

    svg {
      display: flex;
      width: 24px;
      height: 24px;
      fill: $black;
      transition: .2s linear;
    }

    &:hover {
      background-color: $black;

      svg {
        fill: $light;
      }
    }

    &--prev {
      left: -88px;
      transform: translateY(-50%);
      @include r(1529) {
        left: 10px;
      }

      svg {
        transform: rotate(180deg);
      }
    }

    &--next {
      right: -88px;
      transform: translateY(-50%);
      @include r(1529) {
        right: 10px;
      }
    }

    &--disabled {
      pointer-events: none;
      opacity: .7;
    }
  }

  &--reviews {
    perspective: 1200px;
    overflow: visible;

    @include r(1529) {
      position: relative;
    }

    .slider__wrapper {
      transform-style: preserve-3d;
    }

    .slider__item {
      display: block;
      width: auto;
    }

    .slider__controls {
      @include r(1529) {
        left: 0;
        bottom: 0;
      }
    }

    .slider__button--next {
      @include r(1529) {
        width: 30px;
        height: 30px;
        top: 24px;
        right: 24px;
      }
    }

    .slider__button--prev {
      @include r(1529) {
        width: 30px;
        height: 30px;
        top: 24px;
        left: 24px;
      }
    }

    .slider__pagination {
      display: none;
      @include r(1529) {
        display: flex;
        left: 50%;
        bottom: 9px;
        transform: translateX(-50%);
      }
      &-bullet {
        @include r(1529) {
          width: 7px;
          height: 7px;
          background-color: $light;
          border: none;
          &::before {
            display: none;
          }
          &--active {
            background-color: $dark;
            border: none;
          }
        }
      }
    }
  }

  &--intro {
    display: flex;
    flex-direction: row;
    gap: 24px;
    width: 100%;
    min-height: 582px;
    padding: 0;

    &::after {
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      right: -26px;
      width: 100px;
      background: linear-gradient(270deg, rgba(253, 253, 253, 1) 0%, rgba(255, 255, 255, 0) 100%);
      pointer-events: none;
    }

    @include r(1529) {
      flex-direction: column;
      height: 346px;
      min-height: auto;
    }

    .slider__wrapper {
      align-items: flex-start;
    }

    .slider__item {
      display: block;
      width: auto;
    }

    .slider__item--active {
      .stock {
        width: 404px;
        height: 582px;
        @include r(1529) {
          width: 241px;
          height: 346px;
        }
      }

      .stock__info {
        opacity: 1;
        visibility: visible;
        transform: none !important;
      }

      .stock__label {
        opacity: 1;
      }
    }

    .slider__item--prev {
      transform: translate3d(450px, 0, 0) scale(0.5);
      transition: .2s linear;

      @include r(1529) {
        transform: none;
      }
    }

    .slider__controls {
      left: -136px;
      bottom: 0;
      align-self: flex-end;
      display: flex;
      width: auto;
      gap: 16px;

      @include r(1529) {
        left: initial;
        right: 0;
        bottom: -40px;
      }

      button {
        position: static;
        box-shadow: 0 4px 14px 1px rgba(0, 0, 0, 0.16);
        background-color: $light;
        transform: none;

        @include r(1529) {
          width: 28px;
          height: 28px;
        }

        svg {
          @include r(1529) {
            width: 20px;
            height: 20px;
          }
        }

        &:hover {
          svg {
            fill: $dark;
          }
        }
      }
    }
    .stock__info {
      display: none;
    }
  }

  &__pagination {
    position: absolute;
    bottom: 0;
    display: flex;
    align-items: center;
    gap: 10px;

    @include r(1529) {
      margin-bottom: -40px;
    }

    &-bullet {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 27px;
      height: 27px;
      background-color: transparent;
      border-radius: 50%;
      border: 2px solid transparent;
      transition: .2s linear;

      @include r(1529) {
        width: 20px;
        height: 20px;
      }

      &::before {
        content: '';
        display: flex;
        width: 11px;
        height: 11px;
        background-color: $gray-light;
        border-radius: 50%;
        transition: .2s linear;

        @include r(1529) {
          width: 5px;
          height: 5px;
        }
      }

      &--active {
        border-color: $gray-light;
        background-color: $light;

        &::before {
          @include r(1529) {
            width: 8px;
            height: 8px;
          }
          background-color: $purple;
        }
      }
    }
  }

  &--categories {
    overflow: visible;
  }

  &--features {
    max-width: 1320px;
    @include r(1529) {
      position: absolute;
      left: 0;
      bottom: -25%;
      max-width: 100%;
    }

    .slider__wrapper {
      align-items: flex-end;
    }

    .slider__item {
      width: 100%;
      flex-shrink: 0;
    }
    .slider__button {
      display: none;
      @include r(1529) {
        display: flex;
      }
    }
  }

  &--info {
    display: none;
    position: absolute;
    right: 0;
    bottom: 8px;
    pointer-events: none;
    width: 100%;
    .stock__info {
      right: 0;
      left: initial;
      backdrop-filter: none;
    }
    .stock__info {
      display: none;
      opacity: 0;
      visibility: visible;
    }
    .swiper-slide-thumb-active {
      .stock__info {
        display: flex;
        opacity: 1;
        visibility: visible;
      }
    }
    @include r(1529) {
      display: flex;
    }
  }
}

.swiper-3d {
  .slider__wrapper {
    display: flex;
    align-items: center;
  }

  .slider__item {
    transform-style: preserve-3d;
  }
}
